/** Exports to ../css/editor.css **/
/** Exports to ../css/typography.css **/
/*** Base ***/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Mixins ***/
/* Main Blue */
/* Shiny Green */
/* Purple Gradient Overlay */
/* Transition */
/* Main Sprite */
/* Mixins */
/* Border Radius */
/* Single side border-radius */
/* Clearfix */
/* Opacity */
/* Rem Conversion */
/* Font Size! */
/* Padding */
/* Margin */
/* Animation */
/* Example: */
/*
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
/* Transitions */
/* Visually Hide Element */
/* Content */
.content {
  margin: 0px 0px;
}
.content h1, .content h2, .content h3, .content p {
  margin: 0;
}
.content hr {
  border-bottom: 1px solid #30506C;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 16px 0px 16px 0px;
  margin: 1rem 0rem 1rem 0rem;
}
.content a {
  color: #12abc5;
  text-decoration: none;
}
.content .type {
  border-bottom: 1px solid;
  display: inline-block;
  font-size: 0.7em;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 2em;
  padding: 0.1em 0;
  text-align: left;
  text-transform: uppercase;
}
.content h1 {
  font-size: 2em;
  font-weight: 600;
}
.content h2 {
  color: #7B9EBA;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
}
.content code {
  background: #F7F7F7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid #E0E0E0;
  font-family: monaco;
  font-size: 0.65em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}
.content h3 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content p.date {
  color: rgba(48, 80, 108, 0.4);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
.content hr {
  width: 3em;
}
.content a.read-more {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;
}
.content a.read-more span {
  font-size: 1.7em;
  position: absolute;
  right: -10px;
  top: -2px;
}
.content p.author {
  font-style: italic;
}
.content:before, .content:after {
  content: " ";
  display: table;
}
.content:after {
  clear: both;
}
.content h1, .content h2, .content h3 {
  color: #16293A;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.content h4, .content h5, .content h6 {
  font-weight: 600;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.content h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
  line-height: 3rem;
  font-weight: 600;
}
.content h2 {
  color: #5760C1;
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  font-weight: 600;
}
.content h3 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 600;
}
.content h4 {
  color: #5760C1;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
}
.content h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
}
.content h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.content p {
  color: #30506C;
  font-weight: 200;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.content p span {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}
.content img {
  background-color: #EFEFEF;
  margin: 1.125em 0em;
  max-width: 100%;
}
.content img.left,
.content .captionImage.left,
.content img.floatleft {
  float: left;
  max-width: 96%;
  margin: 1.125em 4% 1.125em 0;
}
.content img.right,
.content .captionImage.right,
.content img.floatright {
  float: right;
  max-width: 96%;
  margin: 1.125em 0 1.125em 4%;
}
.content .captionImage,
.content .captionImage.left,
.content .captionImage.right {
  position: relative;
}
.content .captionImage img {
  margin: 0;
  float: none;
  max-width: 100%;
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.content .captionImage p.caption {
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 0.01em;
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.5);
  padding: 18px;
  color: #FFFFFF;
}
.content b,
.content strong {
  font-weight: bold;
}
.content i,
.content em {
  font-style: italic;
}
.content q,
.content blockquote {
  font-style: italic;
}
.content a,
.content a:link,
.content a:visited {
  color: #0e8296;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.content a:hover,
.content a:focus {
  text-decoration: underline;
}
.content a:active,
.content a:focus {
  color: #008ae0;
  text-decoration: none;
  outline: none;
}
.content ul {
  margin: 0.5em 0em;
}
.content ul li {
  color: #30506C;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
  margin-left: 32px;
  margin-left: 2rem;
  list-style: disc;
}
.content ol {
  list-style: decimal;
}
.content ol li {
  color: #30506C;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.content ul li p,
.content ol li p {
  font-size: 1em;
}
.content table {
  max-width: 100%;
  margin: 8px 0;
  color: #4A4B4D;
  line-height: 1.8em;
  border-width: 1px;
  border-color: #4A4B4D;
  border-collapse: collapse;
}
.content table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #4A4B4D;
  text-align: left;
  font-weight: bold;
}
.content table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #4A4B4D;
}
.content .left {
  float: left;
  max-width: 99%;
}
.content .right {
  float: right;
  max-width: 99%;
}
.content .left img,
.content .right img {
  float: none;
  margin: 0;
}

.two-columns {
  column-count: 2;
  -webkit-column-count: 2;
  column-gap: 32px;
  -webkit-column-gap: 32px;
}
.two-columns p {
  color: #30506C;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin: 0px 0px 16px 0px;
  margin: 0rem 0rem 1rem 0rem;
}
.two-columns p span {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 100%;
  padding: 0px 16px;
  padding: 0rem 1rem;
}

/* Typography */
.typography {
  margin: 0px 0px;
}
.typography h1, .typography h2, .typography h3, .typography p {
  margin: 0;
}
.typography hr {
  border-bottom: 1px solid #30506C;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 16px 0px 16px 0px;
  margin: 1rem 0rem 1rem 0rem;
}
.typography a {
  color: #12abc5;
  text-decoration: none;
}
.typography .type {
  border-bottom: 1px solid;
  display: inline-block;
  font-size: 0.7em;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 2em;
  padding: 0.1em 0;
  text-align: left;
  text-transform: uppercase;
}
.typography h1 {
  font-size: 2em;
  font-weight: 600;
}
.typography h2 {
  color: #7B9EBA;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
}
.typography code {
  background: #F7F7F7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid #E0E0E0;
  font-family: monaco;
  font-size: 0.65em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}
.typography h3 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.typography p.date {
  color: rgba(48, 80, 108, 0.4);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
.typography hr {
  width: 3em;
}
.typography a.read-more {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;
}
.typography a.read-more span {
  font-size: 1.7em;
  position: absolute;
  right: -10px;
  top: -2px;
}
.typography p.author {
  font-style: italic;
}
.typography:before, .typography:after {
  content: " ";
  display: table;
}
.typography:after {
  clear: both;
}
.typography h1, .typography h2, .typography h3 {
  color: #16293A;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.typography h4, .typography h5, .typography h6 {
  font-weight: 600;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.typography h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
  line-height: 3rem;
  font-weight: 600;
}
.typography h2 {
  color: #5760C1;
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  font-weight: 600;
}
.typography h3 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 600;
}
.typography h4 {
  color: #5760C1;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
}
.typography h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
}
.typography h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.typography p {
  color: #30506C;
  font-weight: 200;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.typography p span {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}
.typography img {
  background-color: #EFEFEF;
  margin: 1.125em 0em;
  max-width: 100%;
}
.typography img.left,
.typography .captionImage.left,
.typography img.floatleft {
  float: left;
  max-width: 96%;
  margin: 1.125em 4% 1.125em 0;
}
.typography img.right,
.typography .captionImage.right,
.typography img.floatright {
  float: right;
  max-width: 96%;
  margin: 1.125em 0 1.125em 4%;
}
.typography .captionImage,
.typography .captionImage.left,
.typography .captionImage.right {
  position: relative;
}
.typography .captionImage img {
  margin: 0;
  float: none;
  max-width: 100%;
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.typography .captionImage p.caption {
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 0.01em;
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.5);
  padding: 18px;
  color: #FFFFFF;
}
.typography b,
.typography strong {
  font-weight: bold;
}
.typography i,
.typography em {
  font-style: italic;
}
.typography q,
.typography blockquote {
  font-style: italic;
}
.typography a,
.typography a:link,
.typography a:visited {
  color: #0e8296;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.typography a:hover,
.typography a:focus {
  text-decoration: underline;
}
.typography a:active,
.typography a:focus {
  color: #008ae0;
  text-decoration: none;
  outline: none;
}
.typography ul {
  margin: 0.5em 0em;
}
.typography ul li {
  color: #30506C;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
  margin-left: 32px;
  margin-left: 2rem;
  list-style: disc;
}
.typography ol {
  list-style: decimal;
}
.typography ol li {
  color: #30506C;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin: 12px 0px 12px 0px;
  margin: 0.75rem 0rem 0.75rem 0rem;
}
.typography ul li p,
.typography ol li p {
  font-size: 1em;
}
.typography table {
  max-width: 100%;
  margin: 8px 0;
  color: #4A4B4D;
  line-height: 1.8em;
  border-width: 1px;
  border-color: #4A4B4D;
  border-collapse: collapse;
}
.typography table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #4A4B4D;
  text-align: left;
  font-weight: bold;
}
.typography table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #4A4B4D;
}
.typography .left {
  float: left;
  max-width: 99%;
}
.typography .right {
  float: right;
  max-width: 99%;
}
.typography .left img,
.typography .right img {
  float: none;
  margin: 0;
}

/*# sourceMappingURL=editor.css.map */
