/** Exports to ../css/typography.css **/

/*** Base ***/
@import "base/_reset";

/*** Mixins ***/
@import "mixins/_colours";
@import "mixins/_sprite";
@import "mixins/_other";
@import "sections/_content";

body {
  font-family: 'Roboto', sans-serif;
  line-height: 100%;
  padding: 0px 16px;
  padding: 0rem 1rem;
}

/* Typography */
.typography {
    @include content;
}