/* IA Navigation */
.ia-navigation {
	position: relative;
	z-index: 99;
	
	.open-this {
		display: none;
		background-color: rgba(#222222, 0.75);
		background-image: url(../images/internetrix.png);
		background-position: -440px 0px;
		background-size: auto;
		background-repeat: no-repeat;
		
		height: 30px;
		width: 60px;
		position: absolute;
		top: 100%;
		right: 10px;
		cursor: pointer;
		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		
		&:hover {
			background-color: #217DB5;
		}
	}
	
	&.closed {
		.ia-navbar {
			display: none;
		}
		
		.open-this {
			display: block;
		}
	}
	
	.ia-navbar {
		font-size: 12px;
		height: 60px;
		background: #1D3951;
		z-index: 100;
		line-height: 60px;
		position: relative;
		padding: 0px 60px 0px 260px;
		
		a.back {
			background-image: url(../images/internetrix.png);
			background-position: -260px 0px;
			background-size: auto;
			background-repeat: no-repeat;
			
			position: absolute;
			top: 0px;
			left: 260px;
			height: 60px;
			width: 60px;
			
			&:hover {
				background-color: #217DB5;
			}
		}
		
		a.next {
			background-image: url(../images/internetrix.png);
			background-position: -320px 0px;
			background-size: auto;
			background-repeat: no-repeat;
			
			position: absolute;
			top: 0px;
			left: 320px;
			height: 60px;
			width: 60px;
			
			&:hover {
				background-color: #217DB5;
			}
		}
		
		a.concepts {
			background-image: url(../images/internetrix.png);
			background-position: -380px 0px;
			background-size: auto;
			background-repeat: no-repeat;
			
			position: absolute;
			top: 0px;
			left: 00px;
			height: 60px;
			width: 60px;
			
			&:hover {
				background-color: #217DB5;
			}
		}
		
		.internetrix {
			background-image: url(../images/internetrix.png);
			background-position: 0px 0px;
			background-size: auto;
			background-repeat: no-repeat;
			
			width: 200px;
			height: 60px;
			position: absolute;
			top: 0px;
			left: 60px;
		}
		
		.options {
			float: right;
			margin: 0px 10px;
			margin: 0rem 0.625rem;
			
			label {
				float: left;
				width: auto;
				padding: 0px 8px;
				padding: 0rem 0.5rem;
				font-size: 18px;
				font-size: 1.125rem;
				line-height: 38px;
				line-height: 2.375rem;
				height: 40px;
				height: 2.5rem;
				margin: 10px 10px 10px 0px;
				margin: 0.625rem 0.625rem 0.625rem 0rem;
				color: #FFFFFF;
			}
			
			select {
				float: left;
				width: auto;
				padding: 0px 8px;
				padding: 0rem 0.5rem;
				font-size: 18px;
				font-size: 1.125rem;
				line-height: 38px;
				line-height: 2.375rem;
				height: 40px;
				height: 2.5rem;
				margin: 10px 0px;
				margin: 0.625rem 0rem;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				border: 1px solid #EDF0F4;
				color: #222222;
				background: #edf0f2;
				background: -moz-linear-gradient(top, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf0f2), color-stop(50%, #eaedef), color-stop(51%, #e1e5e8), color-stop(100%, #dadee1));
				background: -webkit-linear-gradient(top, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
				background: -o-linear-gradient(top, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
				background: -ms-linear-gradient(top, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
				background: linear-gradient(to bottom, #edf0f2 0%, #eaedef 50%, #e1e5e8 51%, #dadee1 100%);
				
				option {
					background: #edf0f2;
				}
				
				&:focus {
					outline: none;
					border: 1px solid #3299D8;
					-webkit-box-shadow: 0px 0px 5px 0px rgba(50,153,216,0.5);
					-moz-box-shadow: 0px 0px 5px 0px rgba(50,153,216,0.5);
					box-shadow: 0px 0px 5px 0px rgba(50,153,216,0.5);
				}
			}
		}
		
		.close-this {
			position: absolute;
			top: 0px;
			right: 0px;
			height: 60px;
			width: 60px;
			cursor: pointer;
			
			background-image: url(../images/internetrix.png);
			background-position: -200px 0px;
			background-size: auto;
			background-repeat: no-repeat;
			
			&:hover {
				background-color: #217DB5;
			}
		}
	}
}

@media only screen and (max-width: 48em) {
	
	/* IA Navigation */
	.ia-navigation {
		.ia-navbar {
			padding: 0px 60px 0px 60px;
			
			.internetrix { display: none; }
			
			.options {
				label {
					display: none;
				}
			}
		}
	}
	
}