<div id="test-popup" class="white-popup mfp-hide">
    <div class="title">
        <h2>Politician Name</h2>
        <div class="position">Politician Position</div>
    </div>
    <div class="clearfix">
        <div class="info-left">
            <!-- Image -->
            <img src="images/placeholder.jpg" alt="Title" title="">
            <div class="party lib"> <!-- Party Class Here -->
                Party
            </div>
        </div>
        <div class="info-right">
            <p>Politician Description</p>

            <!-- No need to replace anything here -->
            <div class="section-title">
                How do they vote?
                <div class="what">?</div>
            </div>

            <!-- Loop 3 of these -->
            <div class="swing-title">Issue Title</div>
            <div class="swing-bar">
                <div class="zero"></div>
                <div class="swing right" id="one"></div> <!-- Assign unique ID if possible -->
                <style>
                    .mfp-ready #one { /* Unique ID referenced here */
                        width: 10%; /* For or against value calculated */
                    }
                </style>
            </div>
            <div class="swing-description">
                Vote strength
            </div>

        </div>
    </div>
</div>
