/* Main Blue */
$main-colour: #3c437c;
$purple: #4E3484;
$main-teal: #12abc5;

$green: #12abc5;

$yellow: #ffcc33;
$red: #f55443;
$green: #A1D21A;
$blue: #1c91eb;
$orange: #f89219;
$purple: #9f30ce;
$regal: #8463E3;
$othergreen: #3CCA6A;

$boxColour: #E1E6E8;

@mixin pol-gradient($opacity) {
  background: -moz-linear-gradient(top, rgba(0, 160, 161, $opacity) 0%, rgba(101, 194, 92, $opacity) 100%);  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 160, 161, $opacity) 0%, rgba(101, 194, 92, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 160, 161, $opacity) 0%, rgba(101, 194, 92, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin ele-gradient($opacity) {
  background: -moz-linear-gradient(top, rgba(247, 147, 87, $opacity) 0%, rgba(230, 41, 144, $opacity) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(247, 147, 87, $opacity) 0%, rgba(230, 41, 144, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(247, 147, 87, $opacity) 0%, rgba(230, 41, 144, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin par-gradient($opacity) {
  background: -moz-linear-gradient(top, rgba(68, 84, 201, $opacity) 0%S, rgba(62, 178, 234, $opacity) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(68, 84, 201, $opacity) 0%, rgba(62, 178, 234, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(68, 84, 201, $opacity) 0%, rgba(62, 178, 234, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Shiny Green */
@mixin shiny-green {
    background-color: #94d33f;
    background-image: url(../images/shine.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 0px #6bad11;
    border: 1px solid #94d33f;
}

/* Purple Gradient Overlay */
@mixin purple-gradient {
    background: rgb(9, 17, 80);
}

@mixin purple-gradient-transparent {
    background: -moz-linear-gradient(left, rgba(44,49,91,0.85) 0%, rgba(39,29,69,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(44,49,91,0.85)), color-stop(100%,rgba(39,29,69,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(44,49,91,0.85) 0%,rgba(39,29,69,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(44,49,91,0.85) 0%,rgba(39,29,69,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(44,49,91,0.85) 0%,rgba(39,29,69,0.85) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(44,49,91,0.85) 0%,rgba(39,29,69,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92c315b', endColorstr='#d9271d45',GradientType=1 ); /* IE6-9 */
}

/* Transition */
@mixin basic-transition {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@mixin purple-gradient-dark {
    background: rgb(39,29,69); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(39,29,69,1) 0%, rgba(44,49,91,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(39,29,69,1)), color-stop(100%,rgba(44,49,91,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(39,29,69,1) 0%,rgba(44,49,91,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(39,29,69,1) 0%,rgba(44,49,91,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(39,29,69,1) 0%,rgba(44,49,91,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(39,29,69,1) 0%,rgba(44,49,91,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#271d45', endColorstr='#2c315b',GradientType=1 ); /* IE6-9 */
}
