/* Fonts */

@font-face {
    font-family: 'Europa';
    src: url('../fonts/europa-light.otf') format("opentype");;
    /*
    src: url('../fonts/avenir_bold-webfont.eot');
    src: url('../fonts/avenir_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_bold-webfont.woff') format('woff'),
         url('../fonts/avenir_bold-webfont.ttf') format('truetype'),
         url('../fonts/avenir_bold-webfont.svg#avenir_bold-webfont') format('svg');
    */
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Europa';
    src: url('../fonts/europa-lightitalic.otf') format("opentype");;
    /*
    src: url('../fonts/avenir_bolditalic-webfont.eot');
    src: url('../fonts/avenir_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_bolditalic-webfont.woff') format('woff'),
         url('../fonts/avenir_bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/avenir_bolditalic-webfont.svg#avenir_bolditalic-webfont') format('svg');
    */
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'Europa';
    src: url('../fonts/europa-regular.otf') format("opentype");;
    /*
    src: url('../fonts/avenir_bold-webfont.eot');
    src: url('../fonts/avenir_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_bold-webfont.woff') format('woff'),
         url('../fonts/avenir_bold-webfont.ttf') format('truetype'),
         url('../fonts/avenir_bold-webfont.svg#avenir_bold-webfont') format('svg');
    */
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Europa';
    src: url('../fonts/europa-italic.otf') format("opentype");;
    /*
    src: url('../fonts/avenir_bolditalic-webfont.eot');
    src: url('../fonts/avenir_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_bolditalic-webfont.woff') format('woff'),
         url('../fonts/avenir_bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/avenir_bolditalic-webfont.svg#avenir_bolditalic-webfont') format('svg');
    */
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Europa';
    src: url('../fonts/europa-bold.otf') format("opentype");;
    /*
    src: url('../fonts/avenir_bold-webfont.eot');
    src: url('../fonts/avenir_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_bold-webfont.woff') format('woff'),
         url('../fonts/avenir_bold-webfont.ttf') format('truetype'),
         url('../fonts/avenir_bold-webfont.svg#avenir_bold-webfont') format('svg');
    */
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Europa';
    src: url('../fonts/europa-bolditalic.otf') format("opentype");;
    /*
    src: url('../fonts/avenir_bolditalic-webfont.eot');
    src: url('../fonts/avenir_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_bolditalic-webfont.woff') format('woff'),
         url('../fonts/avenir_bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/avenir_bolditalic-webfont.svg#avenir_bolditalic-webfont') format('svg');
    */
    font-weight: 600;
    font-style: italic;

}