.glossary {
    h1 {
        @include font-size(48);
        @include line-height(56);
        color: #FFFFFF;
        text-align: center;
        @include margin-all(32,0,32,0);
    }
    .collapsible-area {
        border-bottom: 2px solid #FFFFFF;
    }
    .collapsible {
        @include font-size(24);
        @include line-height(32);
        @include padding-all(16,0,16,0);
        @include basic-transition;
        cursor: pointer;

        &:hover,
        &.collapse-open {
            @include padding-all(16,16,16,16);
            background: rgba(255,255,255,0.125);
        }
    }
    .container {
        @include padding-all(16,16,16,16);
        background-color: #222222;
    }
}
