
<svg version="1.1" id="svg2" xmlns:svg="http://www.w3.org/2000/svg"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="129 -115 290 262"
	 style="enable-background:new 129 -115 290 262;" xml:space="preserve">
<style type="text/css">
	.svg-bit{fill:#BFCCD2;stroke:#FFFFFF;stroke-width:0.5;}
</style>
<path id="NSW" class="svg-bit" d="M400.3,14.6l-0.9,0.6l-0.7,0.6l-1.1,0.1l-0.9,0.1l-0.1,0.8l0.3,1.1l0.7-0.1l-0.7,0.8l-0.1,0.6l-1,0.5
	l-0.8-0.3l-0.4-0.7l-0.7,0.8l-0.7,0.8l-0.3,0.6l-0.7,0.4l-0.5-1.1l-0.1-0.7l-0.4-0.7l-0.4-0.5l-0.7-0.8l-1.1-0.3l-1.6,0l-0.6-0.3
	l-0.8-0.3l-0.7,0.1l-0.2-0.5l-0.9,0.1l-1.4,0.5l-1.3-0.2l-1.3-0.4l-0.6,0l-0.8,1.2l-1.1-0.1l-0.1,1.1l-0.7,0.1l0.1,0.5l-0.9,0.5
	l-53.1-0.1v45.1v0l0.1,0.2l1.1-0.2l1.8,0.9l1-0.7l1.8,0.3l2.1,0.3l1.7,1.4l0.5,2l1.1,1l0-1l1.1-0.5l1,0.2l1.7,0.1l1,0.4l0.6,2.8
	l1.4,2.1l1.1,0l1.6,0.7l2,1.8l0.4,1.3l1.3,0.9l1.6,0.7l1.3-0.2l-0.3-1.5l0.5-0.7l0.7-0.1l0.8,0.4l1.8-0.3l1.4,0.7l0.9-0.1l1.2,0.6
	l1.2,0.2l0.7-0.7l0.9-0.3l1.1,0.6l1.9,0.5l1.5-0.4l1.1-0.3l0.8-0.1l0.7-0.3l0.9-0.3l1.4,0.8l-0.2,1.2l0.6,1.2l0.7,1l0.3,1.1
	l-0.2,1.3l8.2,4.1l1.7,0.1l0.7,0.7h0.7l-0.2,0.4l0.1,0.1l1.1-0.5l-0.2-1.7l0.4-0.2h0.4l-0.4-1.1l-0.8-0.2l0.4-0.8l-0.4-1.1l0.4,0.2
	l0.4-1.5l0.8-3.4l-0.2-2.1l0.4-1.3h-0.4l1.1-0.8l-0.6-0.8l0.8,0.2l1.7-4l1.5-0.4l-0.6-1.3l0.6-0.2v0.8l0.4-0.2l-0.4-1.3l-0.4,0.2
	l0.2-0.4l-0.9-0.2l1.5-0.7l0.4-1.5l-0.4-0.6l0.7-0.2v-1.5l1.7-1.7l-0.6-0.2l1.1-0.2l-1.3-0.4l1.5-0.2l0.2-1.1l-0.6,0.4l-0.4-0.4
	l0.7,0.2l-0.2-0.7l0.6,0.4l0.2-1.7v-0.2l-0.4,0.4V56l-0.2,0.2l-0.2-0.6l0.6,0.4l0.2-1.1v0.8l0.8-0.4l0.2-1.1l-0.4-0.4h0.8l0.6-1.7
	l-0.6,0.8l-0.2-0.8h0.6v-0.8l0.2,0.8l0.9-1.5l-0.2-0.4h0.4v0.6l2.6-1.5l-0.8-0.2l-0.8,0.6l-0.2-0.2l0.4-0.4l-0.2-0.4l0.8,0.4
	l0.6-0.4l0.2,0.4l0.8-1.3l1.5-0.9l0.2-1.7l-0.7-0.2v0.4l-0.8-0.4h0.8h0.2l0.2-1.5l1.5-1.3l1.9-6.2l-0.2-4.3l1.5-3.8l0.2-0.7l0.6-3.6
	l-0.6-0.4l0.6,0.2l-0.2-0.8l1.7-3.2h-0.4l0.4-0.2l0.2-1.7l-0.7-0.8l0.2-1.9l-1,0l-0.9-0.1l-0.5,0.4l-0.5,0.2l-0.6,0.1l-0.9-0.3
	l-1,0.5l-0.8-0.8L400.3,14.6z M374.9,70.9c0.5,0,0.9,0.1,1.4,0.3c0.4,0.2,0.5,0.4,0.5,0.7c0,0.3-0.2,0.6-0.4,0.9c-0.4,0.6-1,1.4-1,2
	c-0.1,0.3-0.4,1.1-0.9,1.2c-0.3,0-0.5-0.1-0.8-0.5c-0.3-0.4-0.6-1.1-0.9-2.2c-0.2-0.7,0-1.2,0.5-1.7
	C373.6,71.1,374.3,70.9,374.9,70.9z"/>
<g id="NT">
	<path id="Melville-Island" class="svg-bit" d="M254.2-102.5l2.1,1.3l2.1-1.3l0.6-1.1l0.6,0.2v-0.9l0.6-0.2l-0.9-1.3h-0.9l-0.2-0.6
		l-0.6,0.9l0.4,1.1l-0.6-1.5l-0.2,0.6l-0.4-0.2v1.3l-0.2-1.1h-0.2l-0.6-0.2l-1.3,0.4l0.9,1.3l-0.9-0.4l-0.2-1.1l-0.4,0.4l0.2,0.2
		H254v-0.2v-0.9l-1.5-0.9l0.5,2.8l-0.7,0.2l0.4-0.4l-0.4,0.2l0.4-0.9l-0.4-0.9l-1.5,1.1l0.9,0.4h-0.4v0.9l0.2,0.1v0.5l-0.2-0.6
		l-0.2,0.4l-0.6-0.4v0.9h-0.4l4,0.4L254.2-102.5z"/>
	<path id="NT-mainland" class="svg-bit" d="M242.9-81.2V2.3h59.6v-73.2l-0.8-1l-2.1-0.7l-2.8-1.9l-0.6,0.2l0.2,0.4l-1.1-0.4l-0.7,0.2
		v-0.9l-2.3-1.1l-0.8-1.7l-3.4-2.1l-0.2,0.2v-0.4l-0.6,0.2l-1.1-1.1l-0.4-1.5l1.3-0.4l1.1-2.5l1.3-0.7l0.2-1.3l1.1-2.3l-0.9,0.7
		l-0.4-0.2l-0.2-1.9l0.4,0.2l0.4-0.4l-0.6-0.2l0.2-0.6l0.6-0.4l0.2,0.6l0.6-1.3l0.2,1.1l0.2-1.1l0.6,0.2l0.2-0.6l0.4,1.1l-0.4,0.6
		l0.8-0.4l0.7-1.3l-0.7-0.7l1.3,0.2l-1.3-1.5l0.4,0.2l0.2-0.4l0.4,0.6l-0.2-0.8h0.6l0.4-1.1l-0.2-0.7h0.4v0.7l1.3-1.5l-1.3-1.3
		l-0.7,0.4l0.4,0.4h-0.7l-0.8-1.9h-0.4l0.7-0.8l-2.6,1.9l1.5,0.4l-0.7,1.3l-0.6,0.4l-0.8-0.2l-0.4,0.4V-98h-0.4l0.7-1.1l-0.7,0.2
		l-0.2-0.4l0.8-1.1l-1.7,0.8l-0.2,0.7l-0.6-0.4l1.7-1.9l-2.3,1.3l-0.2-0.4l-1.1,0.2l-1.1,0.6l0.8,0.4l-1.3-0.2l0.4,0.6l-2.6-1.1
		l-0.7-1.5l-0.8,1.1l-2.6-0.7l-0.6,1.3l0.4-1.1l-0.4-0.8l-0.4,0.2l-0.2-0.7l-0.8,0.7l-0.6-0.7l0.6-0.6l-0.8-0.2l-1.9,1.1l0.2-0.8
		l-0.4,0.4l-0.4-0.6l-0.6,0.4l0.2-0.6l-1.3,0.2l-1.5-2.6h-0.4l0.2,0.7l-0.4-0.2l-1.1,0.8l-1.5-2.1l-0.4,0.6l-0.2-1.3l-0.6,0.4
		l0.2,0.6l-1.1-1.1l0.2,1.3l0.4,0.2l-0.4,0.7l-0.4-1.5l-0.9-0.7v0.9l-1.1-0.2l0.2,0.4l-0.4,0.4l1.1-0.2l0.2,0.4l-0.2,0.2l0.8,0.2
		l0.2,0.6l0.8-0.4l1.9-0.2v0.4h0.4l-0.4,0.2l0.7,0.2h-0.4l0.4,0.2l-0.4,0.2h1.1h0.2l-1.1,1.1l0.8,0.7l-0.4,0.2l-0.2,1.3l1.1,0.4
		l-1.5-0.4l-0.7,0.4l-0.2,1.3l-0.4-1.1l-0.7,0.4l-0.2-0.7l-1.1,1.1l-1.1-0.6l-3,0.4l-0.8-0.6l-0.2-1.1l-0.4,1.3l-1.7-0.4l0.4,1.5
		l-1.1-0.2l-0.4,0.4l1.1,0.8l-0.9-0.2l0.4,0.7l-0.4,0.4l-0.4-0.8v0.2l-0.4,0.2l0.2-1.1l-1.3-0.2l0.2,1.5h-0.4l1.3,0.7h-0.6v0.4
		l-1.1-1.1l-0.7,0.2l0.2,0.4l-0.4-0.4v1.5l-1.5,0.4v1.5l1.3,1.5l-0.4-0.2l-1.7,1.3l-0.6-0.2V-91l-0.7,0.4l-0.2,1.9l0.4-0.2l-0.8,0.6
		l0.2,1.1l-0.7,0.4l-0.4-0.4l0.4,1.1l-0.4-0.4l-0.4,0.8l-0.2-0.7l-0.8,1.5v0.7l0.6,0.6l0.4-0.4v0.7l0.8-0.2l0.2,0.4l0.8-0.4
		l-0.2,0.4l-1.1,0.6h0.6v0.4h-0.2l0.2,0.3l0.2,0.1l0.5-0.3l-0.2,0.6l1.5-0.8v0.6h-0.8l0.4,0.4l-0.7-0.2h-0.4h-0.9l0.4,0.8l-0.4-0.4
		l0.2,1.5l-0.6,0.2l-0.7-1.5l-0.6-0.2l0.2,1.1l-0.9-1.3l0.2,0.4H245h-0.2l0.4,0.6l-0.4,0.4l0.6,0.2h-0.6l-0.2,0.8v-0.7l-0.4,0.9
		l0.4-1.1l-0.2-0.2l-0.4-0.4V-81l-0.4,0.6v-0.8H242.9z"/>
	<path id="Groote-Eyland" class="svg-bit" d="M292.9-85.9l1.5,0.9h1.9l-0.2-1.1l-0.2,0.4l-1.1-0.2v-0.9l0.6-0.2l-0.2-0.6l1.1-0.9
		l-0.6-0.4v0.6h-0.9l-0.2-0.9l0.2-0.4l-1.1,0.2l0.4,0.6l-1.5,0.4v1.1l0.2,0.9l-0.6,0.9L292.9-85.9z"/>
</g>
<g id="QLD">
	<path id="QLD-mainland" class="svg-bit" d="M333.8-109.7l-0.8,0.2l-0.7,1.3l-1.3,0.4l0.2,1.1l-0.6,2.8h-0.2l-0.2,1.5h0.7l-0.8,0.2
		l-0.2,1.3l0.4,0.7l0.4-0.4l-0.4,0.7l-0.4-0.2l-0.2,0.8l-0.2-1.5l-1.1,1.7l0.6,0.2h-0.6l-0.8,2.1h0.6l-0.2-0.8l0.7,0.2l-0.4,0.2
		l0.8,0.7h1.1l-1.1,0.4l1.1,0.4l-0.4,0.2l0.2,1.1l-0.9-1.5l-0.4,1.1l-1.1,0.8l0.6,1.9l-0.2,0.6l0.4-0.2l-0.2,0.2l0.4,0.2h-0.8
		l-1.1,3.2l1.1,2.3l-0.7,2.1l0.8,3.8l-1.3,3.4l-0.6,2.6l0.4,1.1l-1.5,4.3l-1.7,2.1l-0.4,2.8l-1.9,1.5l-3.6,0.8l-0.4-0.2l-1.3-0.8
		l-1.5-0.2l-0.8-1.1l-1.5-0.7l-0.4-1.9l-0.8-0.8l-2.8-0.8l-3.4-0.4l-1.8-2.4V2.3h20.8v16.9l53.1,0.1l0.9-0.5l-0.1-0.5l0.7-0.1
		l0.1-1.1l1.1,0.1l0.8-1.2l0.6,0l1.3,0.4l1.3,0.2l1.4-0.5l0.9-0.1l0.2,0.5l0.7-0.1l0.8,0.3l0.6,0.3l1.6,0l1.1,0.3l0.7,0.8l0.4,0.5
		l0.4,0.7l0.1,0.7l0.5,1.1l0.7-0.4l0.3-0.6l0.7-0.8l0.7-0.8l0.4,0.7l0.8,0.3l1-0.5l0.1-0.6l0.7-0.8l-0.7,0.1l-0.3-1.1l0.1-0.8
		l0.9-0.1l1.1-0.1l0.7-0.6l0.9-0.6l0.9,0.3l0.8,0.8l1-0.5l0.9,0.3l0.6-0.1l0.5-0.2l0.5-0.4l0.9,0.1l1,0l0-0.4l-0.8-0.8l-0.6-2.6
		l-0.5-1.9L405,8.3l-0.7,0.4l0.4-0.7l-0.9-0.4l0.7-0.7l-0.7-0.6l0.9-0.4l-0.7-0.6V4.6l1.1,1.3L404.5,4l-0.2,0.6l0.4-1.7l-0.4-0.3
		l0.2-1.8h-0.4l0.9-3.4h-0.4l-0.4-0.9l-0.4,1.3l0.2-1.1h-0.6l0.4-0.4l-0.9-0.7v-1.3l0.7-0.6l-1.3,0.4l1.1-0.4L403-7.3l-2.3-0.7
		l0.7-0.4l-1.3-1.5l0.2-0.8l-0.7-0.4l-0.2,0.4l0.2-0.7l-1.3-0.6v0.2l-1.1-1.1l-1.1-2.8l-0.8-0.2l0.2-0.8l-0.4,0.6v-0.6l-0.6-0.2
		l0.4,0.8l-0.8-0.4v0.4l-0.8-0.4v0.4l-2.8-3.8l-0.6,0.8l-0.9-1.3l0.4-0.2l-0.6-1.3l0.4-0.4l-0.6-2.3h0.4l0.2-1.7l-0.4-1.1v0.7
		l-0.4-0.2l-0.4-0.8l0.7,0.2l0.2-0.2l-0.7-1.1v0.8l-0.2-0.8l-0.4-0.2l-0.2,0.6l0.6,1.1l-0.4-0.2l0.4,1.1l-3-2.2l-1.1-1.7l-0.2,0.4
		l-0.6,1.1l0.6,1.5l0.4,0.9l-0.4-0.4l-1.3-1.5l-1.3,1.5l0.7-1.5h-0.9l0.4-0.2l-0.2-0.4l-0.8,0.2l0.8-0.4l-1.3-3l0.4-2.3l-0.2,0.4
		l-0.8-0.8l-0.2,0.4v-1.9l-0.8,0.4l0.2-0.7h-0.2l0.4-1.1l-0.8-0.8l-0.6,0.4l0.2-0.8h-1.5l-0.2-0.7l0.4-0.2l-1.1-0.6l0.2-0.4
		l-0.6-0.6l0.6-0.2l-0.4-0.4l0.6,0.2l0.2-0.4l1.1,0.9l-1.3-2.1l-0.4,0.2v-0.6h-0.7l-0.2-0.8h-0.6h-0.2v0.8l-0.6-0.2l-0.9-0.8
		l0.2-0.2v-0.2l-1.1-0.6l-1.3,0.2l-0.4-1.5h-0.7l0.4,1.1l-0.9-0.2l-1.3-1.3l0.8,0.4l-1.3-2.8v0.9l-1.9,0.2l-0.9-1.9l-0.2,0.8h-0.7
		l-0.6-0.8L360-52l-1.3-1.5l0.4-2.3h-0.8l-1.5-2.6l1.1-3.6h-0.4v-1.7l-1.3-2.3l0.4-1.1l-1.1,0.2l-2.5-3.4v-1.1h0.4v-1.5l-0.8-1.1
		l-0.2-2.3l-0.8-0.8l1.1-1.3v-0.2l-0.7,0.2l-0.2-1.1l0.8-1.1h-0.4l-0.4-0.9l-1.3-0.2l-0.9-1.3l-1.5-0.4l-1.1-2.8l-1.3,1.1l-0.8-0.4
		l-0.4,1.3l-1.3,0.6l-1.1-0.8l-0.6-2.8l-1.1-1.7l0.4-2.1l-0.6-2.1l0.2-1.9l-1.3,0.4l0.6-1.9l-1.3-0.8v-0.8l-1.1-0.2l-0.2-1.5
		l1.3-1.1l-1.1-0.4l-0.8,0.2l-0.7-0.7v-3.2l-0.8-2.6h-0.6l-0.4-0.8v0.4l-0.8,0.4l1.1-1.7l-0.2-0.2L333.8-109.7z"/>
	<path id="Fraser-Island" class="svg-bit" d="M404.5-10.9l0.8,1.3l-1.7,1.9h0.4l-0.4,1.5l-0.4,1.1l0.9,1.5l1.9-5.8l-0.4-0.9v-1.5
		L404.5-10.9z"/>
	<path id="Mornington-Island" class="svg-bit" d="M312.5-69l0.6,0.2l0.6-1.3l0.2,0.6l0.9-0.2l-1.1-1.1l-1.7,0.6L311-69l1.1,0.6L312.5-69
		z"/>
</g>
<path id="WA" class="svg-bit" d="M242.9,41.3v-39l0,0v-83.5h-1.3l-0.4-0.4l-0.8-0.2l-1.3,0.2l0.8,0.7l0.2,0.8l-0.8-1.1l0.6,1.1l-0.2-0.2
	l-0.2,0.4l-0.4-0.4l-0.2,0.9l-0.4-1.1l-0.4,0.7l1.1,3h-0.4l-0.2-1.1l-1.1-1.1v1.7l-0.6,0.6l0.4-0.8l-0.4-0.7l0.4-0.2l-0.2-1.3
	l0.7-1.5h-0.4l0.9-0.2l-0.4-0.6l0.4-0.2l-1.5-1.1l-0.2,0.4l-1.9-3l-1.5-0.8l-0.2-0.8l-0.6-0.2l0.2,0.6l-0.7-0.6l-0.4,0.4v-0.4
	l-0.4,0.4l-0.4-1.1l-1.3-0.4v0.4l-0.8-0.2l0.4,1.1l0.8,0.4l-0.4,0l-1.1-0.2l0.2,0.7l-0.4,0.4l-0.2-0.4l-0.2,1.3l-0.7-1.3l-0.4,0.2
	l0.4-1.1l-1.3,0.8l-0.2,0.4l0.4,0.4l-0.8,0.4l-0.2-1.1h-0.4l0.4-0.4h-0.4l0.4-0.4l-0.6,0.4l-0.7-0.2v0.4l-0.2-0.4v0.4l1.3,0.6
	l-0.8,0.7l0.2,0.6l-0.6,0.4l0.4,0.8h-0.8v1.1l-0.7-0.6l0.2-0.8l-0.8,0.2v-0.6l-0.6,1.7l0.2-1.9l0.4-0.6l-0.8-0.4v2.3l-0.7-0.2
	l-0.4,0.8l-0.2-0.6l-0.4,0.4l0.2-0.9l-0.8,0.9l0.4,0.2l-1.3,0.7l0.7,0.8h0.6l-0.8,0.7l1.3,0.4l0.2-0.4l0.4,0.2l-0.8,0.9l1.1,0.4
	h-1.1l-0.4-0.6l-0.9,0.6l-0.6-1.5l-0.4,0.2l0.2,0.9l-1.3,0.2l0.4,0.2l-0.2,0.7l1.3-0.9l-1.3,1.1l0.4,0.4l1.1-0.6v0.4h0.4l-0.6,0.7
	l1.3,1.1l-1.1-0.8l-0.4,0.4l-0.4-0.8l-0.8-0.2v-0.4l-0.6,0.4l-0.4,0.8l-0.2-0.4l-0.2,0.6l-0.8-0.2l0.2,0.2l-0.8,0.7l0.4,0.2
	l-0.6,0.2l0.8,2.3l0.2-0.4v0.2l0.4-0.6l-0.4,0.3l0.6-1l0.7-0.4l-0.4,0.4h0.7l-0.9,0.7l-0.2,1.5h0.4l-0.8,0.4l0.4,0.2l-0.4,0.2
	l-0.4-1.1l-0.4,1.9l1.5-0.2l0.8,0.4l-1.9,0.2l-0.4-0.4l-0.4,0.4l0.4,0.2l-1,0.2l0.6-0.2l-0.6-0.2l-0.7-0.8l-1.5-0.7l0.6,0.7h-0.4
	l0.4,0.6l-0.8-0.6v0.2l-1.1-0.4h0.4l-0.2-0.4h0.4l-0.8-0.4v0.4l-0.7-0.2l0.2,0.4l-0.4-0.4l0.4,0.7l-0.4,0.2l0.8,0.2l0.2,0.4
	l-0.7-0.2l0.7,0.4h-0.4h-0.2h-0.8l1.1,0.6h-1.5l0.4,0.7l0.2-0.4l0.6,0.2l-0.8,0.6l1.5,0.4l0.4,1.3l0.9-0.4V-68l0.4,0.2l-1.1,1.1
	l0.4,0.4l-0.7-0.2l1.1,1.9l-1.9-1.9l-0.6,0.2l0.8,1.5l-0.4-0.2l-0.4,1.1v1.1l-1.3-1.3l-0.7-2.1l-0.8-0.6v-1.7h-0.6l-0.7-0.6l0.2-0.9
	l0.7-0.2l-0.4-0.7l-0.7,0.2l-1.3,2.1L202-68l-1.7-0.2l-0.2,0.6l0.4,0.8l-0.8-0.4v0.4l-0.8,0.2l-0.7,0.9l0.4,0.2l-1.1,0.9l-0.2,1.9
	l0.6,1.5l-0.4,1.5l1.5,0.2v0.8l-3,2.2l-0.8,0.2l-0.7,0.9l0.4,0.6l-1.1,0.2l0.2,0.8l-1.1,1.9l-2.6,3.2l-6,2.6l-1.5,0.2h-1.5l-0.7,0.4
	l-0.8,0.6l-0.6-0.6l-1.9-0.4l0.2,0.4v0.2l-0.2-0.2l-0.4-0.2l-0.2,0.2l-1.5,1.9l-4.5,0.9v-0.4l-1.7,1.1l0.2,0.4h-0.6l-0.4,0.8
	l-1.1,0.2v-0.2l-1.7,0.8l-1.3-0.6l-0.2-0.7l-1.5,0.9l-0.6-0.2l-0.4-0.2l0.7-1.1h-0.4l-1.1,1.3l0.2,0.2h-0.4l-2.1,1.1l-0.7-0.4
	l-0.2,1.1l-1.7,0.8l-0.6,1.3l-1.1,0.2l-1.1,1.7l-4.1,1.1l-1.7,1.1l-0.2,1.3l-0.4,0.2l-0.4-0.2l0.2,0.8l-0.6,1.1l0.4,0.4l-0.4-0.2
	l0.2,0.4l-0.9,1.1l-0.4-0.6l-1.1,0.6l0.4-1.5l-0.4,0.4l-0.2-1.5l0.8-2.6l-1.5,0.4l-2.1,5.1l1.1,2.8l-0.4,1.3l0.2,2.5l-2.2,3
	l-0.4,3.8l1.7,2.8l-0.2,0.4l0.4,1.7l0.8,0.7l2.3,4.7l0.7,0.2l0.2,1.1h-0.7l0.2,2.3l-1.1,1.3l-1.1-1.7l-0.2-2.3v1.1l-1.1,0.8l0.2-2.3
	l-1.7-2.8L139-4.1l0.4,0.4v-0.9l0.7,3.2l2.1,1.7l-0.2,1.9l-1.3,0.6l-0.2-1.5l-0.2,1.3l-0.4-2.6l-0.2,1.3L138.8-2l0.2,2.8l-0.7-0.4
	V-2l-0.2,1.7l-0.9-0.7l5.5,8.1l1.3,3.4l-0.4,1.1l0.4,2.2l2.3,2.8l0.7,1.3l-0.2,0.8l1.9,2.6l0.9,3l-0.2,3.8v0.4l0.6,3.4l4.3,8.9
	l0.2,3.2l1.1-0.6v0.4l-1.1,0.2l0.2,1.1l-0.4,0.7l0.2,1.5l-0.8,1.7l0.6,4.9l-2.3,2.8h-1.1l-1.3-0.8v4.5l0.8,2.3l0.2-0.4l1.3-0.2
	l2.3,1.3l1.9,3l2.6,0.8l0.2-0.6l0.9,0.6h-1.1l1.7,1.1l0.7-0.6l1.3,0.6l3-0.4l1.7,1.1l0.4-0.9l1.9,0.7l0.4-0.2l-1.1-0.4l0.4-0.8
	l0.4-0.2l-0.2,0.9h1.7l-0.2-0.7l1.5-0.2l0.2-1.3l1.9-0.8l0.2-0.8l1.1-0.4l-0.4-0.4l2.8,0.8l0.2-0.8l0.8,0.2v-0.9l1.1,0.2l-0.8-0.8
	l3-2.8h0.6l2.8,0.4l1.1-0.8l5.3-0.7l2.8,0.8l1.5-0.6l0.8,1.5h1.1l0.4-0.9l1.5,0.4l0.2-0.6l2.8-0.2l0.6,0.4l0.2,0.9l1.5-1.1l1.1,0.4
	l3-3l0.9-3.4l0.8-0.9l3.8-1.3l7.7-4.5l1.7-0.4l3.2,0.4l3.6-0.2l6.8-2.1L242.9,41.3z M216.3-70.7l-1.1,0.4l-0.4-0.4l0.4,0.2
	L216.3-70.7z M137.7-2L136-5.8v2.1l1.7,2.8V-2z"/>
<path id="VIC" class="svg-bit" d="M382.2,88.8l-0.6-0.6h0.2l-0.7-0.7l-1.7-0.1l-8.2-4.1l0.2-1.3l-0.3-1.1l-0.7-1l-0.6-1.2l0.2-1.2
	l-1.4-0.8l-0.9,0.3l-0.7,0.3l-0.8,0.1l-1.1,0.3l-1.5,0.4l-1.9-0.5l-1.1-0.6l-0.9,0.3l-0.7,0.7l-1.2-0.2l-1.2-0.6l-0.9,0.1l-1.4-0.7
	l-1.8,0.3l-0.8-0.4l-0.7,0.1l-0.5,0.7l0.3,1.5l-1.3,0.2l-1.6-0.7l-1.3-0.9l-0.4-1.3l-2-1.8l-1.6-0.7l-1.1,0l-1.4-2.1l-0.6-2.8
	l-1-0.4l-1.7-0.1l-1-0.2l-1.1,0.5l0,1l-1.1-1l-0.5-2l-1.7-1.4l-2.1-0.3l-1.8-0.3l-1,0.7l-1.8-0.9l-1.1,0.2l-0.1-0.2v28.4l0.4,0
	l2.3,1.9v1.1l0.7-0.2l0.6,0.4l1.3-1.5l2.6,1.3l1.7-0.4l7.9,4.3l3.2-3.2l2.5-1.7h1.5l0.4-1.3l-1.5,0.4l-0.8-0.7h1.1l2.8-2.1l1.3,2.6
	l-1.3,1.7l-1.9-0.4l1.9,1.7l1.3-0.8l0.7,0.2l0.2-1.7h1.5l0.4,1.3l-0.8,0.2l-0.2,1.3l1.5,1.1l1.5-0.2l0.2,0.4l-0.6-0.2l1.1,1.9
	l0.8-0.6l0.8,0.4l-0.2-0.7l0.9,1.7l1.1,1.1l0.4-2.8l-1.3,0.8l-0.4-1.7h2.1l2.5-0.8l4.1-4.3l2.8-1.7l-3.4,1.5l1.9-1.3l-0.1-0.1
	l-0.6-0.6l1.5,0.4l1.7-0.7l-0.2,0.4l9.4-0.8L382.2,88.8z"/>
<g id="SA">
	<path id="SA-mainland" class="svg-bit" d="M323.2,92.8V64.4v0V19.3V2.3h-20.8l0,0h-59.6v39l0.5-0.3l6.6-0.7l1.1-0.2l4.3,0.4l2.3-1.3
		l4,2.1l3,2.3h1.9l-0.2-0.4l0.4-0.2h1.5l2.6,2.1h2.6l-0.7-0.6l0.4-0.2l0.4,0.4l0.4-0.6l2.3,2.3l-0.6,0.2v1.1l1.3-0.7l0.8,0.2
		l0.8,1.7L278,50l0.2-0.7h-1.1l0.4,0.9l-0.4,0.6l0.8,0.2l-0.4,0.6l1.3,1.3l-0.4-1.3l0.6,1.3l0.6-0.4l1.3,0.8l-0.6-0.6l1.1,0.2
		l-0.4,0.4l1.3,1.7v1.3l2.3,2.2l1.3,5.8l0.2-0.7l0.2,0.7l0.4,0.2l-0.8,0.2l-0.4-0.8l0.2-0.2l-0.8-0.2V63l-0.7,1.3l0.9-0.4l2.6,3.2
		l1.1-0.6l1.1,1.3l0.4-2.3l-1.5,0.6l0.6-0.4l0.2-1.7l0.8-0.4l0.4,0.4v-1.5l3.2-3.6l2.6-1.3l-0.7,0.2l0.4-0.8l0.4,0.4l1.5-0.4
		l1.5-4.3l1.3-1.5l0.8,0.4v-4.3l1.1,2.3l0.2,1.9l0.6,0.6l-1.7,1.5l1.3,2.3l-2.6,2.6l-0.6,1.9l-0.4,0.2l0.4,1.3l-0.7,1.3L300,63
		l0.2,1.3l-0.4,2.6l-0.4,0.4l-2.5-0.7l-1.1,3.2l2.2-0.2l1.7-1.3l1.5,0.6l0.8-0.4l-0.4-0.4l1.1-2.3l0.2-2.1l1.3-3l3,5.2l0.2,0.4
		l-0.4,0.2l-0.2-0.7l-0.2,4.7l-2.3,2.1l3,0.2l1.3-1.1l1.1,0.2l3.2,2.5l-3.2-2.3l2.8,2.1l1.8,2.3l-1.4-2.1l1.1,0.8l1.3,2.8l-0.6-0.9
		l1.6,4.3l-0.2,1.1l-1.1,1.1l0.8,1.3l-0.4,0.6l1.7,2.3l2.5,3.3l0.1,0.3l1.3,1.1L323.2,92.8z"/>
	<path id="Kangaroo-Island" class="svg-bit" d="M301.9,74.5l0.2-1.1h-1.5l0.4-1.3l-7,1.5l-0.4,1.1l1.3,1.5l1.9-0.2l1.5-0.4l1.7,0.9
		l0.9-0.6l0.2-0.9h2.8l0.4-0.9l-1.5-0.6L301.9,74.5z"/>
</g>
<g id="TAS">
	<path id="King-Currie-Island" class="svg-bit" d="M343.2,105.8l-0.6,1.3l0.2,2.6v0.9l0.4,0.4l1.3-1.3l-0.2-3L343.2,105.8z"/>
	<path id="Finders-Island" class="svg-bit" d="M369.4,108.8v0.9l0.9,0.9l0.6,1.5l1.7-0.6l-0.4-1.1l-0.4,0.4l0.4-1.1l0.2-0.4h-0.9
		l-1.7-2.1l-1.3,1.5L369.4,108.8z"/>
	<path id="TAS-mainland" class="svg-bit" d="M368.1,135.6l-0.4,1.3l0.9,0.2l-0.4,0.4l0.6,0.9l0.6-0.2v-0.9l0.9,1.1l-0.4-1.9l-1.1,0.2
		L368.1,135.6z M372.4,123.7l-0.4-1.3l0.6-1.7l-0.6-0.6l0.6-1.7l-1.7-2.1l-1.1-0.2l-0.4,1.3l-1.3-0.6l-1.5,1.7l-1.1-0.6l-1.1,0.9
		l-0.9-0.4l-1.5,0.6l1.1,1.1l-0.2,0.4l-1.3-1.5l-1.1,0.9l0.2,0.9l-0.4-1.1l-1.9,0.4l-4.9-3h-1.3l-0.4-1.1v0.9l-0.9-0.2v0.4l-3-1.5
		l0.2,1.7l-0.6,1.3l0.9,3.6l1.5,2.1l-0.4,0.4l2.1,2.8v1.9l0.6-0.6l1.1,1.9h0.4l-0.4,1.5l-0.2-1.3l-1.9-1.7l0.6,3.8l0.6,0.2l1.1,3.2
		l1.1,0.4l1.1,2.3h0.6l-0.4-0.2l0.4-0.9l0.4,1.3h1.7l-0.2,0.4l-1.5-0.4v0.6l-0.4-0.2l0.6,1.7l1.5-0.6l2.3,0.4l-0.2-0.6l0.8,1.5h1.3
		l0.9-1.3l-0.6-0.6l0.9,0.2l0.2-0.9l-0.6-0.2l0.9-0.4l-0.9-1.1l0.2-0.4v0.6l0.4,0.4l0.2-0.6v0.6l0.8,0.4l0.2-2.3l0.6,0.2v-1.3
		l-1.1-1.7l1.5,1.9l0.4-0.2l-0.4,1.3l0.9-0.6l-0.2-1.1l0.6-0.2l-1.1-0.6l1.1,0.2l0.4,1.1l0.9-0.2l1.1-1.9l-0.6-1.1l0.9-0.4l0.2-1.7
		l-0.6,0.2l1.1-2.1h0.6l-0.6-0.2l0.9-1.3l-0.4,1.3l1.1,0.4v1.3l0.4-0.6l-0.6-1.5L372.4,123.7z"/>
	<path id="Cape-Barren" class="svg-bit" d="M370.2,113.3h2.1l0.2,0.6l0.9-0.6l-0.9-1.1L370.2,113.3z"/>
</g>
<path id="ACT" class="svg-bit" d="M375,70.8c0.5,0,0.9,0.1,1.4,0.3c0.4,0.2,0.5,0.4,0.5,0.7c0,0.3-0.2,0.6-0.4,0.9c-0.4,0.6-1,1.4-1,2
	c-0.1,0.3-0.4,1.1-0.9,1.2c-0.3,0-0.6-0.1-0.8-0.5c-0.3-0.4-0.6-1.1-0.9-2.2c-0.2-0.7,0-1.2,0.5-1.7C373.6,71.1,374.3,70.9,375,70.8
	z"/>
</svg>
