/* FlexSlider */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
	width: 100%;
}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; position: relative;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flexslider.normal-slider .slides img { width:auto; max-width: 100%; margin: 0 auto;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* Slider */

.flexslider {
	position: relative;
	zoom: 1;
}

.slides .row {}

.flex-control-nav {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
	z-index: 2;
}

.flex-direction-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 520px;
}

.flex-direction-nav li a {
	@include sprite;
	background-repeat: repeat-x;
	
	position: absolute;
	top: 50%;
	margin-top: -26px;
	display: block;
	text-indent: -99999px;
	text-transform: capitalize;
	width: 30px;
	height: 52px;
	z-index: 9;
}

.flex-direction-nav li a:hover {
	transition: .35s ease background-position;
	-webkit-transition: .35s ease background-position;
	-moz-transition: .35s ease background-position;
	-o-transition: .35s ease background-position;
	-ms-transition: .35s ease background-position;
}

.flex-direction-nav li a.flex-prev {
	left: 60px;
	background-position: -52px -180px;
}
.flex-direction-nav li a.flex-prev:hover {
	background-position: -52px -180px;
}

.flex-direction-nav li a.flex-next {
	right: 60px;
	background-position: -82px -180px;
}
.flex-direction-nav li a.flex-next:hover {
	background-position: -82px -180px;
}

.flex-control-nav li {
	display:inline-block;
	zoom: 1; 
	*display: inline;
	margin: 0 5px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.flex-control-nav li a{
	display: inline-block;
	zoom: 1; 
	*display: inline;
	text-indent: -9999px;
	text-transform: capitalize;
	display: block;
	width: 6px;
	height: 6px;
	background: rgba(255,255,255,0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	/* Easing */
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.flex-control-nav li a:hover {
	background: #FFFFFF;
}

.flex-control-nav li a.flex-active{
	background: #FFFFFF;
}

.fleximages img {
	display: block;
	max-width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Control Nav */
.flex-control-nav {
	width: 100%; position: absolute; bottom: -40px; text-align: center;
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 9px 0px 0px 0px; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 23.5%;  margin: 0; margin-right: 2%; float: left;}
.flex-control-thumbs li:nth-child(4) { margin-right: 0; }
.flex-control-thumbs img {width: 100%; display: block; opacity: 0.5; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* This Slider Styles */

.slide {
	height: 520px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*
	-moz-transition: all 20s ease;
    -webkit-transition: all 20s ease;
    transition: all 20s ease;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
	*/
}

.flex-active-slide .slide {}

/* Caption */

.flex-caption {
	position: relative;
	z-index: -1;
}

.caption-row {
	position: absolute;
	left: 0;
	bottom: 30px;
	width: 100%;
	z-index: 2;
}

.caption {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.caption h2 {
	color: #ffffff;
	font-size: 2.25em;
	line-height: 1.25em;
}

.caption p {
	color: #FFFFFF;
	line-height: 1.35em;
}

.caption a {}

@media all and (max-width: 45em) {
	
	/* Controls */
	
	.flex-direction-nav li {
		padding: 0;
	}
	
	.flex-direction-nav li a {
		margin: 0;
	}
	
	/* Caption */
	
	.caption-row {
		position: static;
		background: $main-colour;
	}
	
	.caption {
		height: 160px;
		width: auto;
		background: none;
		padding: 20px 0px;
	}
	
	.caption h2 {
		font-size: 1.5em;
	}
	
	.caption a {
		left: 0px;
		bottom: 20px;
	}
	
	/* Home Slider */
	
	.slide {
		height: 320px;
	}
	
	.home-banner {
		background-color: #FFFFFF;
	}
	
	.slides .row {
		padding: 0px;
	}
	
	.slides .row .columns {
		padding: 0;
	}
	
	.fleximages img {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
}