/* Isotope Styles */
.grid-item {
    width: 16.666666666%;
}
.grid-item--width2 {
    width: 33.333333333%;
}

@media screen and (max-width: 1700px) {
    .grid-item {
        width: 20%;
    }

    .grid-item--width2 {
        width: 40%;
    }
}

@media screen and (max-width: 1400px) {
    .grid-item {
        width: 25%;
    }

    .grid-item--width2 {
        width: 50%;
    }
}


@media screen and (max-width: 1100px) {
    .grid-item {
        width: 33.333333%;
    }

    .grid-item--width2 {
        width: 66.666666%;
    }
}

@media screen and (max-width: 800px) {
    .grid-item {
        width: 50%;
    }
    .grid-item--width2 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .grid-item {
        width: 100%;
    }
}
