$background-color: #333;

@function pem($px, $base: 16) {
    @return ($px / $base) + em;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.close-btn {
    @include sprite;
    background-position: -80px 0px;
    display: block;
    @include size(50,50);
    padding: 0;
    border: 0;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    .no-svg & {
        background-image: url("../img/close-btn.png");
    }

    &:focus,
    &:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

.nav-btn {
    height: 40px;
    @include padding-all(0,10,0,40);
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-size: 1rem;
    line-height: 40px;
    font-weight: 500;
    text-transform: uppercase;

    overflow: hidden;
    white-space: nowrap;

    &:hover {
        background-color: $main-teal;
        color: #FFFFFF;
        text-decoration: none;
    }

    .icon {
        position: absolute;
        top: 3px;
        left: 9px;
    }

    span {
        display: block;
        height: 3px;
        width: 24px;
        background: #FFFFFF;
        margin: 6px 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    .no-svg & {
        background-image: url("../img/nav-icon.png");
    }

    &:hover,
    &:focus {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
}

#nav {
    /*
    z-index: 200;
    position: relative;
    width: 100%;
    */

    .close-btn {
        display: none;
    }

    .block-title {
        @include visuallyhidden;
    }

    .block {
        z-index: 2;
        position: relative;
        padding: pem(12) pem(20);
        background: $background-color;
    }

    ul {
    }
}

// header[role="banner"] {
#top {

    .block-title {
        margin: 0;
        font-size: pem(30);
        line-height: pem(36, 30);
        text-align: center;
        white-space: nowrap;
    }
}

#main {
    background: #fff;

    .block {
        padding: pem(42) pem(30);
    }
}

/* Mobile Open */
header nav li .mobile-open {
  display: none;
}

@media screen and (min-width: 60.0625em) {
    #top {
      /*
        position: relative;
*/
        .nav-btn {
            @include visuallyhidden;
        }
    }

    #nav {

        .close-btn {
            @include visuallyhidden;
        }

        .block-title {
            @include visuallyhidden;
        }

    }

}

@media only screen and (max-width: 60em) {


  /* Mobile Open */
  header nav li .mobile-open {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 40px;
    width: 40px;
    background-color: #ECF2F6;
    z-index: 10;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  header nav li .mobile-open:hover,
  header nav li .mobile-open.open {
    background-color: $main-teal;

    .icon span {
      background-color: #FFFFFF;
    }
  }

  header nav li .mobile-open .icon {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    margin-top: -5px;
    left: 50%;
    margin-left: -5px;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;

    span {
      background-color: $main-teal;
    }
  }

  header nav li .mobile-open.open .icon {
    -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      transform: rotate(45deg);
  }

  header nav li .mobile-open span.one {
    height: 18px;
    width: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -1px;
  }

  header nav li .mobile-open span.two {
    height: 2px;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -9px;
  }

  /* Mobile Dropdowns! */

  header nav {
    overflow: hidden;
   }

  header nav li:hover a.withdp:before {
    content: '';
    background: none;
  }

  header nav li ul,
  header nav li:hover ul,
  header nav li:hover .relative > ul {
    display: none;
    position: static;
    width: auto;
    margin: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  header nav li ul.active,
  header nav li .relative > ul.active {
    display: block;
    position: static;
    width: auto;
    background: #394957;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    li {
      &:hover {
        ul {
          display: none;
        }
      }
      a {
        color: #FFFFFF;
      }
    }
   }

  header nav li .relative ul li.withdrop > a:before {
    border: none;
  }

  /* Off Canvas */
  #nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    padding-top: 5.25em;
  }
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: 32px;
    top: 2rem;
    left: 32px;
    left: 2rem;
  }
  #nav .block {
    position: relative;
    padding: 0;
  }
  #nav li {
    position: relative;
  }

  .js-ready #nav {
    height: 100%;
    width: 50%;
    background: #FFFFFF;
  }
  .js-ready #nav .block {
    background: transparent;
  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .js-ready #nav .close-btn:focus,
  .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .js-ready #nav {
    left: -50%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 50%;
  }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgba(16, 31, 72, 0);
      z-index: 4;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      visibility: hidden;
    }
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(50%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(50%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(50%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(50%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(50%, 0, 0) scale3d(1, 1, 1);

    &:after {
      background-color: rgba(16, 31, 72, 0.5);
      visibility: visible;
    }
  }

  .csstransforms3d.csstransitions.js-ready #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transform: translate3d(50%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(50%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(50%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(50%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(50%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 34em) {
    .nav-btn {
    }
}

@media only screen and (max-width: 26em) {
    .nav-btn {
        .icon {
            span {
            }
        }
    }
}
