/* Slider Styles */
.productSlider {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  /* Full Screen */
  &.rsFullscreen {
    background-color: rgba(255,255,255,0.85);

    .rsThumbsHor {
      margin-top: 0;
    }
  }

  /* Captions */
  .rsGCaption {
    text-align: center;
    position: absolute;
    bottom: 60px;
    background: rgba(255, 255, 255, 0.9);
    left: 50%;
    margin-left: -100px;
    width: 200px;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    box-shadow: 0px 1px 3px rgba(75, 79, 82, 0.25);
  }

  /***************
  *
  *  3. Thumbnails
  *
  ****************/

  .rsThumbsHor {
  	width: 100%;
  	height: 72px;
    margin-top: 32px;
    margin-top: 2rem;
    z-index: 1;
  }
  .rsThumbsVer {
  	width: 96px;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	right: 0;
  }
  &.rsWithThumbsHor .rsThumbsContainer {
  	position: relative;
  	height: 100%;
  }
  &.rsWithThumbsVer .rsThumbsContainer {
  	position: relative;
  	width: 100%;
  }
  .rsThumb {
  	float: left;
  	overflow: hidden;
  	width: 96px;
  	height: 72px;
  }
  .rsThumb img {
  	width: 100%;
  	height: 100%;

    @include basic-transition;
    opacity: 0.5;
    -ms-transform: scale(0.9,0.9); /* IE 9 */
    -webkit-transform: scale(0.9,0.9); /* Chrome, Safari, Opera */
    transform: scale(0.9,0.9);
  }
  .rsThumb.rsNavSelected img {
    opacity: 1;
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
    transform: scale(1,1);
  }
  .rsTmb {
  	display: block;
  }

  /* Thumbnails with text */
  .rsTmb h5 {
  	font-size: 16px;
  	margin: 0;
  	padding: 0;
  	line-height: 20px;
  	color: #FFF;
  }
  .rsTmb span {
  	color: #DDD;
  	margin: 0;
  	padding: 0;
  	font-size: 13px;
  	line-height: 18px;
  }



  /* Thumbnails arrow icons */
  .rsThumbsArrow {
  	height: 76px;
  	width: 20px;
  	position: absolute;
  	display: block;
  	cursor: pointer;
  	z-index: 21;
  	background: #000;
  	background: rgba(0,0,0,0.65);
  }
  .rsThumbsArrow:hover {
  	background: $main-teal;
  }

  &.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
  &.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

  .rsThumbsArrowIcn {
  	width: 20px;
  	height: 76px;
  	top: 50%;
  	left: 50%;
  	margin-top: -38px;
  	margin-left: -10px;
  	position: absolute;
  	cursor: pointer;

    @include sprite;
  }

  &.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -130px 0px; }
  &.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -150px 0px; }

  .rsThumbsArrowDisabled { display: none !important; }

  /* Thumbnails resizing on smaller screens */
  @media screen and (min-width: 0px) and (max-width: 800px) {
  	.rsThumb {
  		width: 59px;
  		height: 44px;
  	}
  	.rsThumbsHor {
  		height: 44px;
  	}
  }

  /***************
  *
  *  5. Fullscreen button
  *
  ****************/

  .rsFullscreenBtn {
  	left: 0;
  	top: 0;
  	width: 44px;
  	height: 44px;
  	z-index: 1;
  	display: block;
  	position: absolute;
  	cursor: pointer;

  }
  .rsFullscreenIcn {
  	display: block;
  	margin: 6px;
  	width: 32px;
  	height: 32px;

  	@include sprite;
    background-position: -80px -50px;
    @include basic-transition;

  	background-color: #000;
  	background-color: rgba(0,0,0,0.5);
  	*background-color: #000;
  	border-radius: 2px;

  }
  .rsFullscreenIcn:hover {
  	background-color: $main-teal;
  }
  &.rsFullscreen .rsFullscreenIcn {
  	background-position: -80px -82px;
  }

}

/* Controls */

.rsArrow {
	@include sprite;
	background-repeat: repeat-x;

	position: absolute;
	top: 50%;
	margin-top: -40px;
	display: block;
	text-indent: -99999px;
	text-transform: capitalize;
	width: 40px;
	height: 80px;
	z-index: 9;
  opacity: 0.75;

	-webkit-transition: opacity 0.65s ease 0s;
	-moz-transition: opacity 0.65s ease 0s;
	-o-transition: opacity 0.65s ease 0s;
	transition: opacity 0.65s ease 0s;

  &.rsArrowLeft {
    left: 0px;
    background-position: 0px 0px;
  }

  &.rsArrowRight {
    right: 0px;
    background-position: -40px 0px;
  }

  &.rsArrowDisabled {
    opacity: 0.4;

    &:hover {
      opacity: 0.4;
    }

    &.rsArrowLeft {
    	background-position: 0px -80px;
    }

    &.rsArrowRight {
    	background-position: -40px -80px;
    }
  }
  &:hover {
  	opacity: 1;
  }
}


.rsNav.rsBullets {
    float: none;
    position: absolute;
    bottom: 10px;
    right: 160px;
    z-index: 13;

    .rsBullet {
        height: 8px;
        width: 8px;
        background: rgba(255,255,255,0.25);
        float: left;
        margin: 0px 0px 0px 4px;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        &:hover {
           background: rgba(255,255,255,0.75);
        }

        &.rsNavSelected {
            background: #FFFFFF;
        }
    }
}


@media all and (max-width: 62em) {


}

@media all and (max-width: 45em) {


}
