
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-vtabs {
	padding: 20px 0px;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 8px 12px;
    display: none;
}

.resp-tab-content {
	background: #FFFFFF;
    display: none;
    padding: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.resp-tab-content .content, 
.resp-tab-content .content p {
	padding: 0px;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

/* Tabs */
.resp-vtabs ul.resp-tabs-list {
	margin: 20px 0px 0px 0px;
	border-bottom: 1px solid #CCCCCC;
}

.resp-vtabs .resp-tabs-list li {
	position: relative;
	background: #e3e3e3;
	border: 1px solid #e3e3e3;
	border-bottom: 1px solid #CCCCCC;
	margin: 0px 10px -1px 0px;
	display: block;
	padding: 10px 16px;
	cursor: pointer;
	float: left;
	text-transform: uppercase;
}

.resp-vtabs .resp-tabs-list li:hover {}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    clear: none;
}

.resp-vtabs .resp-tabs-list li.resp-tab-active {
	border: 1px solid #CCCCCC;
    border-bottom: 1px solid #FFFFFF;
    background-color: #fff;
	color: #36383a;
	font-weight: bold;
    position: relative;
    z-index: 1;
}

.resp-vtabs .resp-tabs-list li.resp-tab-active:hover {
	background: #FFFFFF;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 6px;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #FFFFFF;
    border-top: 6px solid transparent;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #FFFFFF;
}

/*-----------Accordion styles-----------*/
h2.resp-accordion.resp-tab-active {
    background: $main-colour;
	color: #FFFFFF;
}
.resp-easy-accordion h2.resp-accordion {
        display: block;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }
	
	.resp-vtabs {
		padding: 9px 0px 10px 0px;
	}

	.resp-tab-content {
		padding: 0px;
	}

    h2.resp-accordion {
		margin: 1px 0px 0px;
        display: block;
		background: #CCCCCC;
		color: #FFFFFF;
		position: relative;
    }

    .resp-vtabs .resp-tabs-container {
		background: none;
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
		margin: 20px 0px;
    }
    .resp-accordion-closed {
        display:none !important;
    }
}
