/* Body */
body {
	font-family: 'Europa', sans-serif;
	background: #FFFFFF;
	color: #1a1a1a;
}

a {
	color: $purple;
	text-decoration: none;

	&:hover {
		color: $purple;
	}
}

/* Home */
.main {
	position: relative;
}

body,
textarea,
input,
select,
button {
	font-family: 'Europa', sans-serif;
}

/* Box Sizing */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

/* Page */

.page {
	background: #FFFFFF;
	margin-top: 72px;
}

/* Text Highlight */
::selection {
	color: #FFFFFF;
	background: $main-colour;
}

/* Global Styles */
.space {
	height: 1px;
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

img.floatleft,
.img.floatright {
	position: relative;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

a {
	color: #366E90;
	text-decoration: none;
}

.main {
	position: relative;
}

/**** Information Architecture ****/


/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
        @include border-radius(12px);
        border: 6px solid #94d33f;
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        @include opacity(0);
    }
}

@keyframes hvr-ripple-out {
    100% {
        @include border-radius(12px);
        border: 6px solid #94d33f;
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        @include opacity(0);
    }
}





/* Contact Page */
.contact-info {
    background-color: #f3f5f7;
    @include padding-all(8,16,8,16);
    @include margin-all(16,0,16,0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;

    .title {
        @include padding-all(8,0,0,0);
        @include font-size(12);
        color: #7d8b94;
        font-weight: bold;
        text-transform: uppercase;
    }

    .description {
        @include padding-all(0,0,8,0);
        @include font-size(18);
        @include line-height(22);
        color: #1a1a1b;

        a {
            color: darken($green,8%);
            font-weight: bold;
        }
    }
}


/* Google Map */
.embed-container {
    @include margin-all(16,0,16,0);
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* After Options */
.after-options {
    border-top: 2px solid #d5dbe0;
    @include padding-all(16,0,0,0);
    @include margin-all(16,0,16,0);

    a.back {
        display: block;
        float: left;
        @include line-height(36);
        height: 36px;
        @include padding-all(0,10,0,24);
        color: #8c959f;
        background-color: #f3f5f7;
        position: relative;

        .icon {
            @include sprite;
            @include size(10,16);
            background-position: -114px -90px;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 8px;
        }
    }

    .share {
        float: right;
    }
}

@media only screen and (max-width: 40.063em) {

    .after-options {
        a.back,
        .share {
            float: none;
        }
        .share {
            @include margin-all(16,0,0,0);
        }
    }

}



/* Home Bit */
.home-bit {
    background-color: #f2f4f3;
    @include padding-all(16,0,16,0);
}





@media screen and (max-height: 30.5em) {

}

/* Media Queries */
@media all and (min-width: 64.063em) {

	.desktop-clear {
		clear: both;
	}

}

@media all and (max-width: 78.5em) {

}

@media all and (max-width: 64.063em) {

	/* Tablet Clear */
	.tablet-clear {
		clear: both;
	}

}

@media all and (max-width: 48em) {

}

@media all and (max-width: 40.063em) {

}

@media all and (max-width: 32em) {

}
