/* Content */
@mixin content {
	margin: 0px 0px;

	h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid #30506C;
    border-left: none;
    border-right: none;
    border-top: none;
    @include margin-all(16,0,16,0);
  }

  a {
    color: $main-teal;
    text-decoration: none;
  }

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 2em;
    padding: 0.1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-size: 2em;
    font-weight: 600;
  }

  h2 {
		color: #7B9EBA;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
  }

  code {
    background: #F7F7F7;
		@include border-radius(4px);
    border: 1px solid #E0E0E0;
    font-family: monaco;
    font-size: 0.65em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  h3 {
   font-size: 1em;
   font-weight: 700;
   line-height: 1.4em;
   margin-bottom: 0.5em;
   text-transform: uppercase;
  }

  p.date {
    color: transparentize(#30506C, 0.6);
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  hr {
    width: 3em;
  }

  a.read-more {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-size: 1.7em;
      position: absolute;
      right: -10px;
      top: -2px;
    }
  }

  p.author {
    font-style: italic;
  }

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}

	h1, h2, h3 {
		color: #16293A;
    @include margin-all(12,0,12,0);
	}

	h4, h5, h6 {
		font-weight: 600;
    @include margin-all(12,0,12,0);
	}

	h1 {
    @include font-size(40);
    @include line-height(48);
		font-weight: 600;
	}

	h2 {
		color: $purple;
    @include font-size(32);
    @include line-height(40);
		font-weight: 600;
	}

	h3 {
		@include font-size(28);
    @include line-height(36);
    font-weight: 600;
	}

	h4 {
		color: $purple;
		@include font-size(24);
    @include line-height(32);
	}

	h5 {
		@include font-size(20);
    @include line-height(26);
	}

	h6 {
    @include font-size(18);
    @include line-height(24);
	}

	p {
		color: #30506C;
		font-weight: 200;
		@include font-size(20);
		@include line-height(28);
		@include margin-all(12,0,12,0);

    span {
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

	img {
		background-color: #EFEFEF;
		margin: 1.125em 0em;
		max-width: 100%;
	}

	img.left,
	.captionImage.left,
	img.floatleft {
		float: left;
		max-width: 96%;
		margin: 1.125em 4% 1.125em 0;
	}

	img.right,
	.captionImage.right,
	img.floatright {
		float: right;
		max-width: 96%;
		margin: 1.125em 0 1.125em 4%;
	}

	img,
	img.left,
	img.right,
	.captionImage,
	.captionImage.left,
	.captionImage.right {
	}

	.captionImage,
	.captionImage.left,
	.captionImage.right {
		position: relative;
	}

	.captionImage {
		img {
			margin: 0;
			float: none;
			max-width: 100%;
			padding: 0;
			background: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			-o-box-shadow: none;
			box-shadow: none;
		}
		p.caption {
			text-transform: uppercase;
			font-size: 1.25em;
			letter-spacing: 0.01em;
			position: absolute;
			bottom: 4px;
			left: 4px;
			right: 4px;
			background: rgba(0, 0, 0, 0.5);
			padding: 18px;
			color: #FFFFFF;
		}
	}

	b,
	strong {
		font-weight: bold;
	}

	i,
	em {
		font-style: italic;
	}

	q,
	blockquote {
		font-style: italic;
	}

	a,
	a:link,
	a:visited {
		color: darken($green,10%);
        font-weight: 600;
		text-decoration: none;
		position: relative;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
	}

	a:active,
	a:focus {
		color: #008ae0;
		text-decoration: none;
		outline: none;
	}

	ul {
		margin: 0.5em 0em;

		li {
			color: #30506C;
			@include font-size(20);
			@include line-height(28);
			@include margin-all(12,0,12,0);
			margin-left: 32px;
			margin-left: 2rem;
			list-style: disc;
		}
	}

	ol {
		list-style: decimal;

		li {
			color: #30506C;
			@include font-size(20);
			@include line-height(28);
			@include margin-all(12,0,12,0);
		}
	}

	ul li p,
	ol li p {
	  font-size: 1em;
	}

	table {
		max-width: 100%;
		margin: 8px 0;
		color: #4A4B4D;
		line-height: 1.8em;
		border-width: 1px;
		border-color: #4A4B4D;
		border-collapse: collapse;

		th {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #4A4B4D;
			text-align: left;
			font-weight: bold;
		}
		td {
			border-width: 1px;
			padding: 8px;
			border-style: solid;
			border-color: #4A4B4D;
		}
	}

	.left {
		float: left;
		max-width: 99%;
	}

	.right {
		float: right;
		max-width: 99%;
	}

	.left img,
	.right img {
		float: none;
		margin: 0;
	}
}

.content {
    @include content;
}

.two-columns {
	column-count: 2;
	-webkit-column-count: 2;
	column-gap: 32px;
	-webkit-column-gap: 32px;

	p {
		color: #30506C;
		@include font-size(20);
		@include line-height(36);
		@include margin-all(0,0,16,0);

    span {
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
