.page-left {
    background: #455561;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 72px;
    left: 0;
    bottom: 0;
    padding-top: 50px;
    width: 20%;
    z-index: 2;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include padding-all(32,32,32,32);
      color: #E3ECF0;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1rem;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.25+100 */
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }
    }

    /* Sections */
    &.pol {
      .overlay {
        @include pol-gradient(0.9);
      }
    }
    &.par {
      .overlay {
        @include par-gradient(0.9);
      }
    }
    &.ele {
      .overlay {
        @include ele-gradient(0.9);
      }
    }

    h1 {
      font-weight: bold;
      @include font-size(32);
      @include line-height(40);
      @include margin-all(0,0,8,0);
      word-spacing: 10000px;
    }

    a.back {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      color: #FFFFFF;
      @include font-size(16);

      svg {
        fill: #FFFFFF;
        display: inline-block;
        @include size(16,16);
        vertical-align: -2px;
        @include margin-all(0,6,0,0);
        position: relative;
        left: 0px;
      }

      &:hover svg {
        animation-name: back;
        animation-duration: 0.5s;
        animation-delay: 0.05s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
      }
    }

    .feed-item {
        padding-left: 46px;
        position: relative;
        margin-bottom: 32px;
        @include font-size(16);
        @include line-height(24);

        .date {
            @include font-size(11);
            @include line-height(14);
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: bold;
        }

        .image {
            border-radius: 3px;
            position: absolute;
            top: 5px;
            left: 0px;
            height: 40px;
            width: 30px;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        a {
            color: $main-teal;
        }
    }
}

@keyframes back {
    0% {
      left: 0px;
      opacity: 1;
    }
    49% {
      left: -16px;
      opacity: 0;
    }
    50% {
      left: 16px;
      opacity: 0;
    }
    100% {
      left: 0px;
      opacity: 1;
    }
}

@media screen and (max-width: 920px) {
  .page-left {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    padding: 0;
    float: left;
  }
  .page-left .overlay {
    position: static;
  }
}

.page-left .title {
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 3px;
  font-weight: bold;
  @include font-size(14);
  @include margin-all(0,0,16,0);
}
