/* Filter */
.filters {
	@include padding-all(8,0,16,0);

	.show {
		display: none;
		@include font-size(12);
		@include line-height(18);
		font-weight: 600;
		color: #555555;
		letter-spacing: 3px;
		text-transform: uppercase;
		position: relative;
		@include margin-all(0,0,0,0);
		@include padding-all(16,48,16,16);
		text-align: center;
		cursor: pointer;

		&:hover {
			color: $main-teal;
		}
	}
}
.filter-title {
	display: block;
	@include font-size(12);
	@include line-height(18);
	font-weight: 600;
	color: #546268;
	letter-spacing: 3px;
	text-transform: uppercase;
	position: relative;
	@include margin-all(0,0,0,0);
	@include padding-all(24,32,8,0);

	.what {
		position: absolute;
		top: 16px;
		right: 0px;
		display: inline-block;
		@include padding-all(0,4,0,4);
		@include margin-all(0,0,0,4);
		background: $boxColour;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: $main-teal;
		}
	}
}
.filter-button-group {
	padding: 1px;

	button {
		background: #FFFFFF;
		color: #546268;
		border: 1px solid $boxColour;
		display: block;
		@include padding(12);
		float: left;
		cursor: pointer;
		width: 20%;
		text-align: left;
		padding-left: 42px;
		position: relative;
		@include font-size(16);
		white-space: nowrap;
		outline: none;

		.ch-icon {
			position: absolute;
			top: 50%;
			left: 16px;
			margin-top: -9px;
			width: 18px;
			height: 18px;
			border-radius: 100%;

			&.all {
				border: 3px solid #FFFFFF;
			}
			&.lab {
				background: $red;
			}
			&.lib {
				background: $blue;
			}
			&.greens {
				background: $green;
			}
			&.palmer {
				background: $orange;
			}
			&.libdem {
				background: $yellow;
			}
			&.indep {
				background: $purple;
			}
			&.nats {
				background: $othergreen;
			}
			svg {
				fill: #FFFFFF;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 18px;
				height: 18px;
			}
			&.senate {
				svg {
					fill: #D28699;
				}
			}
			&.hor {
				svg {
					fill: #61BBDA;
				}
			}
		}

		&:hover,
		&:focus {
			background: #505D67;
			color: #FFFFFF;
		}

		&.is-checked {
			background: #505D67;
			color: #FFFFFF;
		}

		@media screen and (max-width: 1800px) {
			width: 25%;
		}


		@media screen and (max-width: 1400px) {
			width: 33.33333%;
		}

		@media screen and (max-width: 1000px) {
			width: 50%;
		}

		@media screen and (max-width: 600px) {
			width: 100%;
		}
	}
}
