/* Footer */
footer {
  background: #FFFFFF;
  color: #546268;
    @include margin-all(16,0,0,0);
    @include padding-all(0,16,0,16);
    color: #787A82;

    .footer-left {
        width: 50%;
        float: left;
        @include margin-all(32,0,32,0);
        @include padding-all(0,16,0,16);
    }

    .footer-right {
        @include margin-all(32,0,32,0);
        @include padding-all(0,16,0,16);
        width: 50%;
        float: right;
    }

    @media screen and (max-width: 800px) {
        .footer-left,
        .footer-right {
            width: 100%;
            float: none;
        }
    }

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        @include margin-all(4,0,12,0);
        @include font-size(16);
        color: #546268;
    }

    hr {
        width: 40px;
        border: 1px solid #5C6062;
        clear: both;
        @include margin-all(10,0,10,0);
    }

    p {
        color: #546268;
        @include margin-all(4,0,16,0);
        @include font-size(18);
        @include line-height(26);
        font-weight: lighter;
        opacity: 0.8;

        a {
            color: $main-teal;
            font-weight: 500;
            border-bottom: 1px solid rgba(#98999E,0.5);

            &:hover {
                text-decoration: none;
                border-bottom: 1px solid $main-teal;
            }
        }
    }

    ul {
      li {
        @include margin-all(12,0,12,0);
        @include line-height(22);

        a {
          color: $main-teal;
          @include font-size(18);
          font-weight: lighter;

          &:hover {
            color: $main-teal;
          }
        }
      }

      &.social {
        @include margin-all(0,0,8,0);

        li {
          float: left;
          @include margin-all(4,8,4,0);

          a {
            @include sprite;
            background-position: -170px 0px;
            display: block;
            width: 30px;
            height: 30px;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;

            &.twitter {
              background-position: -200px 0px;
            }
            &.soundcloud {
              background-position: -230px 0px;
            }
            &.youtube {
              background-position: -260px 0px;
            }
          }
        }
      }
    }
}

@media only screen and (max-width: 64em) {

	footer {
        .footer-bit {

            &.bottom {
                text-align: center;
            }

            ul.social {
                font-size: 0px;
                text-align: center;

                li {
                    display: inline-block;
                    @include margin(4);
                    float: none;
                }
            }
        }
    }
}
