/* Enquiry Form */
form {
	/* Overrides Foundation */
	fieldset {
		border: none;
		padding: 0;
		margin: 0;
		width: auto;
	}

	/* Messages (eg. Validation Messages) */
	.message {
		padding: 8px 12px;
		padding: 0.5rem 0.75rem;
		margin: 12px 0px;
		margin: 0.75rem 0rem;
		background: #E3EFF2;
	  border: 1px solid #ABC3CA;
	  color: rgb(4, 70, 111);
		border-radius: 5px;
		float: left;
		width: 100%;

		&.good {
			background: rgb(225, 245, 225);
			color: darkgreen;
			border-color: rgb(156, 210, 156);
		}
		&.bad,
		&.required {
			background: #FAE4E8;
			color: rgb(126, 7, 20);
			border-color: #D29CA6;
		}
	}

	/* Middle Column - Basic Styles */
	.middleColumn {
		position: relative;

		/* Validation Errors */
		.message.required {
			position: absolute;
			top: 100%;
			left: 0px;
			opacity: 0.925;
			width: auto;

			&:after,
			&:before {
				bottom: 100%;
				left: 20px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: rgba(250, 228, 232, 0);
				border-bottom-color: #FAE4E8;
				border-width: 10px;
				margin-left: -10px;
			}
			&:before {
				border-color: rgba(210, 156, 166, 0);
				border-bottom-color: #D29CA6;
				border-width: 11px;
				margin-left: -11px;
			}
		}
	}

	/* Field Labels */
	label {
		color: $purple;
		display: block;
		padding: 0px 0px 12px 0px;
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 24px;
		line-height: 1.5rem;
		font-weight: 600;

		&.left {
			position: absolute;
			z-index: 2;
			top: -16px;
			background: #FFF;
			padding: 0px 10px;
			left: 10px;
		}
	}

	.requiredField {
		& > label:after {
			content: ' *';
			color: rgb(48, 126, 192);
		}
	}

	/* Fields */
	.field {
		float: left;
		width: 100%;
		margin: 24px 0px;
		margin: 1.5rem 0rem;
		position: relative;

		&.half {
			width: 48.5%;
			margin-right: 3%;

			&.last {
				margin-right: 0;
			}
		}

		&.third {
			width: 31.333333%;
			margin-right: 3%;

			&.last {
				margin-right: 0;
			}
		}
	}

	/* Checkboxes and Radios */
	ul.optionset li {
		padding: 8px 0px;
		padding: 0.5rem 0rem;
	}

	ul label,
	.contact-options label,
	.field.checkbox label,
	.radio-field label,
	.checkbox-field label {
		float: none;
		text-align: left;
		margin: 0;
		padding: 0;
		color: #6d717b;
		font-weight: normal;
		position: relative;
		text-transform: none;
	}

	.radio-field label:hover,
	.checkbox-field label:hover {
		color: #343b41;
	}

	input[type="radio"],
	input[type="checkbox"] {
		margin: 0;
		padding: 0;
	}

	/* Inputs */
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="file"],
	textarea {
		width: 100%;
		font-family: 'Europa', sans-serif;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 20px;
		line-height: 1.25rem;
		border: 2px solid #CAD6E2;
		background-color: #FFFFFF;
		padding: 24px 16px;
		padding: 1.5rem 1rem;
		border-radius: 4px;
		background-clip: padding-box;
		margin: 0;
		transition: border 0.5s;
		-moz-appearance: none;
		-webkit-appearance: none;

		&.required {
			border-color: #D34151;
		}

		&.valid {
			border-color: #53C74B;
			color: darkgreen;
		}

		&.valid:focus,
		&.required:focus,
		&:focus {
			outline: none;
			border: 2px solid $main-teal;
		}
	}

	textarea {
		overflow: auto;
		resize: vertical;
	}

	/* Select fields */
	select {
		font-family: 'Europa', sans-serif;
		color: #222222;
		height: auto;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 20px;
		line-height: 1.25rem;
		outline: none;
		width: 100%;
		margin: 0;
		position: relative;
		border: 2px solid #CAD6E2;
		background-color: #FFFFFF;
		padding: 24px 16px;
		padding: 1.5rem 1rem;

		&:hover {
			background: #FFFFFF;
			border: 2px solid $main-teal;
			outline: none;
			box-shadow: none;
		}

		&.valid:focus,
		&.required:focus,
		&:focus {
			outline: none;
			border: 2px solid $main-teal;
			box-shadow: none;
			/*
			box-shadow: 0 0 3px rgba($main-teal, 0.5);
			*/
		}
	}

	/* End of form */
	.Actions {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	/* Submit Buttons */
	input[type="submit"],
	input[type="button"],
	button {
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 20px;
		line-height: 1.25rem;
		font-weight: bold;
		cursor: pointer;
		margin: 12px 0px;
		margin: 0.75rem 0rem;
		padding: 20px 24px;
		padding: 1.25rem 1.5rem;
		border: 1px solid $main-teal;
		outline: none;
		color: #FFFFFF;
		float: right;
		min-width: 180px;
		text-align: center;
		background-color: $main-teal;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;

		&:hover {
			text-decoration: none;
		}
	}

	/* Reset Buttons */
	input[type="reset"] {
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 20px;
		line-height: 1.25rem;
		font-weight: bold;
		cursor: pointer;
		margin: 12px 0px;
		margin: 0.75rem 0rem;
		padding: 20px 24px;
		padding: 1.25rem 1.5rem;

		border: none;
		outline: none;
		color: #222222;
		float: none;
		text-align: center;
		background-color: #EFEFEF;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;

		&:hover {
			opacity: 0.75;
		}
	}

	/* Content in forms */
	p {
		color: #4A4B4D;
		font-size: 1em;
		line-height: 1.65em;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #222222;
		font-weight: bold;
		font-size: 1.5em;
		line-height: 1.2;
		font-weight: 700;
		margin: 12px 0px;
		margin: 0.75rem 0rem;
	}

	p#ForgotPassword {
		padding: 16px 0px 0px 0px;
	}

	a {
		color: #128eb7;
		text-decoration: none;
		position: relative;
	}

	a:hover {
		text-decoration: underline;
	}

	/* Table */
	table {
		margin: 0px;
		width: 100%;
		background-color: #f7f9fa;
  		border: 1px solid #dee0e3;

		.field {
			margin: 0px;
			padding: 0px;
		}

		th {
			font-weight: bold;
			background-color: #2C3134;
			color: #FFFFFF;
			padding: 0.5rem 0.625rem;
		}

		td {
			font-size: 1.125em;
		}

		a {
			color: #222222;
			font-weight: bold;
		}

		.total {
			border-top: 1px solid #dee0e3;
			td {
				font-weight: bold;
				font-size: 1.25em;
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
		}
	}

}

/* Credit Card */
.credit-card {
	.secure {
		float: left;
		width: 100%;
		padding: 20px;
		margin: 10px 0px 20px 0px;
		background-color: #f7f9fa;
		border: 1px solid #dee0e3;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
}

/* Payment Icons */
.payment-icons {
	min-height: 29px;
	list-style: none;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

.payment-icons li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 38px;
	height: 29px;
	background-image: url(../images/paymenticons.png);
	background-repeat: no-repeat;
    background-size: 228px 71px;
}

.payment-icons li.first {
	background-position: 0px 0px;
}

.payment-icons li.mastercard {
	background-position: -38px 0px;
}

.payment-icons li.visa {
	background-position: -76px 0px;
}

.payment-icons li.amex {
	background-position: -114px 0px;
}

.payment-icons li.discover {
	background-position: -152px 0px;
}

.payment-icons li.paypal {
	background-position: -190px 0px;
}

.payment-icons li.eway {
    float: right;
    width: 90px;
    height: 42px;
    background-position: 0px -29px;
    margin-bottom: 10px;
}

label.right {
    text-align: left;
}

@media all and (max-width: 40.063em) {

	form {
		.field.half,
		.field.third {
			width: 100%;
		}
	}

}
