.logo {
    position: relative;

    span {
        line-height: 24px;
        position: absolute;
        top: 0px;
        left: 100%;
        margin-left: 8px;
        font-weight: bold;
        color: #B8C1C2;
        font-size: 11px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    @include padding-all(16,24,16,24);
    height: 72px;
    background: #1C2835;

    .logo {
        float: left;
    }

    /* Logo */
    .logo-holder {
        float: left;
    }

	/* Main Navigation */
	nav {
        float: right;
        text-align: right;

        ul {
            @include padding-all(0,0,0,0);
            @include font-size(0);

            li {
                display: inline;
                zoom: 1;
                display: inline-block;
                @include padding-all(0,0,0,24);
                position: relative;

                &.withdp > a {
                    padding-right: 10px;

                    &:after {
                        position: absolute;
                        top: 50%;
                        margin-top: -6px;
                        right: 0px;
                        content: '';
                        height: 7px;
                        width: 6px;
                        border-right: 2px solid #585858;
                        border-bottom: 2px solid #585858;
                        -ms-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    &:hover {
                    &:after {
                        border-color: $main-teal;
                    }
                }
            }

            /* Colour coded nav hovers */
            &.pol {
              &.active a,
              a:hover {
                color: #31B9AC;
              }
            }
            &.ele {
              &.active a,
              a:hover {
                color: #DDB72D;
              }
            }
            &.par {
              &.active a,
              a:hover {
                color: #B73DB9;
              }
            }
            &.que {
              a {
                color: #43586F;
              }
            }

            /* Active */
            &.active a:after {
            }

            a {
                display: block;
                @include font-size(16);
                @include line-height(40);
                color: #FFFFFF;
                position: relative;
                @include basic-transition;

                &:hover {
                    color: $main-teal;
                    text-decoration: none;
                }
            }

            ul {
                text-align: center;
                display: none;
                background: #FFFFFF;
                position: absolute;
                top: 100%;
                margin-top: -12px;
                width: 180px;
                left: 50%;
                margin-left: -90px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
                @include padding-all(8,0,8,0);
                z-index: 4;

                &:after {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #FFFFFF;
                    border-width: 6px;
                    margin-left: -6px;
                }

                li {
                    display: block;
                    @include margin(0);
                    @include padding(0);

                    & + li:before {
                        content: none;
                    }

                    a {
                        display: block;
                        @include padding-all(8,8,8,8);
                        @include font-size(16);
                        @include line-height(18);
                        letter-spacing: 0px;
                        text-transform: none;
                        color: #30506C;
                        font-weight: 400;
                        -webkit-border-radius: 0px;
                        -moz-border-radius: 0px;
                        border-radius: 0px;

                        &:hover {
                            background-color: $main-teal;
                            color: #FFFFFF;
                            text-decoration: none;
                        }
                    }
                }
            }

            &:hover {
                ul {
                    display: block;
                    }
                }
			}
		}
	}
}

@media only screen and (max-width: 60em) {

    header {
        nav {
            ul {
                li {
                    a {
                        &:hover {
                        }
                    }
                }
            }
        }
    }

}
