.home-left {
    background: #1C2835;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 50px;
    width: 25%;
    z-index: 2;
    @include padding-all(32,32,32,32);
    color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(28, 40, 53, 0.5);
    z-index: 4;

    @supports (display: flex){
        display: flex;
        align-items: center;
        align-content: center;
    }
}

.home-left .logo {
    display: inline-block;
    @include margin-all(0,0,8,0);
}

.home-left h1 {
    @include font-size(18);
    @include line-height(26);
    @include margin-all(0,0,8,0);
    color: #94A3B3;

    span {
      @include font-size(24);
      @include line-height(30);
      color: #FFFFFF;
      display: block;
      font-weight: bold;
    }
}

.home-right {
    background: #1C2835;
    float: right;
    width: 75%;
}

.home-navigation-banner {
    width: 100%;
    position: relative;
    background: #000000;
    overflow: hidden;
    display: table;
    table-layout: fixed;

    @supports (display: flex) {
        display: flex;
    }

    li {
        width: 33.333%;
        height: 100%;

        display: table-cell;
        vertical-align: bottom;
        position: relative;
        height: 800px;
        height: calc(100vh);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 500ms ease;
        text-align: center;
        box-shadow: 0px 0px 15px rgba(28, 40, 53, 0.5);

        @supports (display: flex) {
            display: block;
        }

        &:first-child {
          z-index: 3;
        }
        &:nth-child(2) {
          z-index: 2;
        }
        &:nth-child(3) {
          z-index: 1;
        }
    }

    .politicians .inside {
        @include pol-gradient(0.9);
    }
    .electorates .inside {
        @include ele-gradient(0.9);
    }
    .parliament .inside {
        @include par-gradient(0.9);
    }
}

@media screen and (max-width: 800px) {
  .home-left {
    display: none;
  }
  .home-right {
    float: none;
    width: 100%;
  }
  .home-navigation-banner {
    height: 100vh;
  }
  .home-navigation-banner li {
    width: 100%;
    height: 33.333vh;
  }
}


.home-navigation-banner .text {
    .smooch {
        max-width: 260px;
        margin: 0 auto;
    }
}

.home-navigation-banner li .inside {
  display: block;
  overflow: hidden;
  width: 100%;
}

.home-navigation-banner li .inside a {
    display: block;
    height: 800px;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    transition: all 200ms ease;

    @supports (display: flex) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.home-navigation-banner li .inside a > * {
    position: relative;
    z-index: 5;

    @supports (display: flex) {
        align-self: center;
    }
}

.home-navigation-banner li .inside a h2 {
    @include font-size(40);
    @include line-height(46);
    word-spacing: 100000px;
    font-weight: bold;
    text-overflow: clip;
    margin-bottom: 6px;
}

.home-navigation-banner li .inside a p {
  font-size: 16px;
  opacity: 1;
  @include basic-transition;
}


@media screen and (max-width: 960px) {
    .home-navigation-banner .text {
        .smooch {
            max-width: 220px;
            margin: 0 auto;
        }
    }
    .home-navigation-banner li .inside a h2 {
        @include font-size(42);
        @include line-height(46);
    }
}

@media screen and (max-width: 720px) {
    .home-navigation-banner {
        display: block;
        li {
            width: 100%;
            height: 33.333%;

            display: flex;
        }
    }
  }
