/* Pagination */
.pagination {
	text-align: center;
	padding: 36px 0px 0px 0px;
	padding: 2.25rem 0rem 0rem 0rem;
	border-top: 2px solid #d5dbe0;
	margin: 0px 0px 18px 0px;
	margin: 0rem 0rem 1.125rem 0rem;
	
	li {
		display: inline-block;
		color: #222222;
		
		a {
			display: block;
     		padding: 0.0625rem 0.625rem 0.0625rem;
			font-size: 18px;
			font-size: 1.125rem;
			color: $purple;
			font-weight: bold;
		}
		
		&.unavailable {
			a {
				color: #AAAAAA;
				font-weight: normal;
			}
		}
		
		&.current {
			a {
				@include shiny-green;
				color: #FFFFFF;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -o-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px;
			}
		}
	}
}

/* Show More */
.show-more {
    text-align: center;
	padding: 36px 0px 0px 0px;
	padding: 2.25rem 0rem 0rem 0rem;
	border-top: 2px solid #d5dbe0;
	margin: 0px 0px 18px 0px;
	margin: 0rem 0rem 1.125rem 0rem;
    
    a {
        display: block;
        @include shiny-green;
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        border: none;
        margin: 0 auto;
        @include font-size(18);
        @include line-height(22);
        @include padding-all(12,12,12,12);
        max-width: 220px;
        font-weight: bold;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        position: relative;
        
        &.loading {
            text-indent: 100%;
            overflow: hidden;
            white-space: nowrap;
            .icon {
                position: absolute;
                @include size(32,32);
                top: 50%;
                margin-top: -16px;
                left: 50%;
                margin-left: -16px;
                background-image:url(../images/loading.gif);
            }
        }
    }
}