/* Page Banner */
.page-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
    @include padding-all(48,0,32,0);
    position: relative;

    h1 {
        @include font-size(56);
        @include line-height(64);
        color: $purple;

        &:after {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 50%;
          margin-left: -80px;
          width: 160px;
          height: 3px;
          background: $main-teal;
        }
    }

    .subtitle {
      @include margin-all(12,0,0,0);
      @include font-size(28);
      @include line-height(32);
      color: #394957;
      font-weight: bold;
    }
}

@media only screen and (max-width: 64.063em) {

}

@media only screen and (max-width: 60em) {

}
