.sub-nav {
  height: calc(100vh - 80px);
  position: relative;
}

.sub-nav .senate,
.sub-nav .hor {
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    @include padding(32);
}

.sub-nav .senate {
    top: 0;
}

.sub-nav .hor {
    bottom: 0;
}

.sub-nav h2 {
  font-weight: bold;
  @include font-size(24);
  color: #1C2835;
}

.sub-nav p {
  width: 33.333333%;
  color: #5E6B79;
}

/* House Map */
.house {
    float: left;
    width: 66.666666%;
}

.info {
    float: right;
    width: 33.333333%;

    h1 {
      font-weight: bold;
      @include font-size(32);
    }

    a.back {
      color: #1C2835;
      @include font-size(16);

      svg {
        fill: #1C2835;
        display: inline-block;
        @include size(16,16);
        vertical-align: -2px;
        @include margin-all(0,6,0,0);
        position: relative;
        left: 0px;
      }

      &:hover svg {
        animation-name: back;
        animation-duration: 0.5s;
        animation-delay: 0.05s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
      }
    }
}
