.page-full {
	background: $boxColour;

	.wrap {
		margin: 0 auto;
		@include padding-all(0,16,0,16);
	}
}

.page-right {
	background: $boxColour;
	float: right;
	width: 80.0%;

	.wrap {
		margin: 0 auto;
		@include padding-all(0,32,0,32);
	}
}

@media screen and (max-width: 920px) {
	.page-right {
		width: 100%;
	}
}

.grid-item {
	img {
		display: block;
	}
	a:hover {
		.politician-name {
			text-decoration: none;
			opacity: 0.75;
            border: none;
		}
	}
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.politician-image {
	position: relative;

    .load {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        width: 40px;
        height: 40px;
        z-index: 2;

        &:before,
        &:after {
            content: '';
            background-color: #FFFFFF;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 0;
            left: 0;

            -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
            animation: sk-cubemove 1.8s infinite ease-in-out;
        }

        &:after {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
    }

	.photo {
        position: relative;
		padding-top: 150%;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #505D67;
	}

	.overlay {
        visibility: hidden;
		opacity: 0;
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #FFFFFF;
		@include padding(32);
		-webkit-transition: all 200ms ease 0s;
		-moz-transition: all 200ms ease 0s;
		-o-transition: all 200ms ease 0s;
		transition: all 200ms ease 0s;

		.text {
			position: relative;
			top: 30px;
			opacity: 0;
			-webkit-transition: all 200ms ease 0s;
			-moz-transition: all 200ms ease 0s;
			-o-transition: all 200ms ease 0s;
			transition: all 200ms ease 0s;
		}
	}

	&:hover {
		.overlay {
            visibility: visible;
			opacity: 1;

			.text {
				opacity: 1;
				top: 0px;
			}
		}
	}
}

.politician-name {
	color: #546268;
	background: #FFFFFF;
	line-height: 60px;
	padding-left: 20px;
	position: relative;
	-webkit-transition: all 200ms ease 0s;
	-moz-transition: all 200ms ease 0s;
	-o-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
	@include font-size(18);
	font-weight: lighter;
    text-decoration: none;
		white-space: nowrap;

	.symbols {
		position: absolute;
		top: 20px;
		right: 20px;

		.ch-icon {
			width: 15px;
			height: 15px;
			border-radius: 100%;
			float: right;
			margin-left: 5px;
			position: relative;

			&.lab {
				background: $red;
			}
			&.lib {
				background: $blue;
			}
			&.greens {
				background: $green;
			}
			&.palmer {
				background: $orange;
			}
			&.libdem {
				background: $yellow;
			}
			&.indep {
				background: $purple;
			}
			&.nats {
				background: $othergreen;
			}
			svg {
				fill: #FFFFFF;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 15px;
				height: 15px;
			}
			&.senate {
				svg {
					fill: $regal;
				}
			}
			&.hor {
				svg {
					fill: $othergreen;
				}
			}
		}
	}
}

.mfp-close-btn-in .mfp-close {
	color: #FFFFFF;
}

.white-popup {
	width:auto;
	max-width: 1140px;
	margin: 20px auto;
	color: #35373C;

	display: table;

	@supports (display: flex) {
		display: flex;
		align-items: stretch;
	}
}
.white-popup .politician-info {
		@include padding-all(20,20,20,20);

		background-color: #E1E6E8;
		position: relative;
		text-align: center;
		width: 20%;
		overflow: hidden;
}
.white-popup .politician-info .contenthere {
		position: relative;
		z-index: 2;
}
.white-popup .politician-info .photo {
		padding-top: 125%;
		background-position: center;
		background-size: cover;
		border-radius: 5px;
		box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
}
.white-popup {
	.image {
		position: relative;
		margin-bottom: 20px;
		max-width: 200px;
	}

	.title {
		@include font-size(20);
		@include line-height(24);
		@include padding-all(0,0,10,0);
		border-bottom: 1px solid #FFFFFF;
		@include margin-all(0,0,10,0);
		color: #FFFFFF;
	}

	h2 {
		color: #FFFFFF;
		opacity: 0.9;
		font-weight: bold;
		@include font-size(24);
		@include line-height(28);
		@include margin-all(0,0,0,0);
	}

	.position {
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
		@include font-size(12);
		@include line-height(14);
		color: #FFFFFF;
	}

	.party {
		@include font-size(16);
		@include line-height(20);
		position: relative;
		@include margin-all(10,0,0,0);
		@include padding-all(12,12,12,12);
		background: $main-teal;
		color: #FFFFFF;
		text-align: center;

		&.lab {
			background: $red;
		}
		&.nat {
			background: $blue;
		}
		&.lib {
			background: $blue;
		}
		&.greens {
			background: $green;
		}
		&.palmer {
			background: $orange;
		}
		&.libdem {
			background: $yellow;
		}
		&.indep {
			background: $purple;
		}
		&.nats {
			background: $othergreen;
		}
	}

	.swing-title {
			font-weight: 500;
			@include font-size(20);
			@include line-height(24);
			@include margin-all(0,0,10,0);
			color: #35373C;

			span {
					font-weight: bold;
			}
	}

	.swing-bar {
		&.left {
			background: $red;
			right: 50%;
		}
		&.right {
			background: $green;
			left: 50%;
		}
	}
}

.swing-description {
		@include font-size(14);
		@include line-height(20);
		@include margin-all(8,0,0,0);
		@include padding-all(0,0,0,116);
		color: #AFB5B9;
}

.white-popup .politician-content {
		width: 50%;
		@include padding-all(0,20,0,20);
		background: #E1E6E8;

		.bitlet {
				@include padding(20);
				@include margin-all(20,0,20,0);
				background-color: #ffffff;
				box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
		}
}

.loading,
.loading:before,
.loading:after {
  border-radius: 50%;
}
.loading:before,
.loading:after {
  position: absolute;
  content: '';
}
.loading:before {
  width: 5.2em;
  height: 10.2em;
  background: #E1E6E8;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loading {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #1C2835;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading:after {
  width: 5.2em;
  height: 10.2em;
  background: #E1E6E8;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.white-popup .politician-maps {
		width: 30%;
		background-color: #FFFFFF;

		@supports (display: flex) {
				display: flex;
				flex-direction: column;
		}

		& > div {
			@include padding(20);

			@supports (display: flex) {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;
				flex-direction: column;
				justify-content: center;
			}

			h3 {
				color: #DEDEDE;
				font-weight: bold;
				@include font-size(12);
				@include line-height(18);
				text-transform: uppercase;
				letter-spacing: 0.1em;
				text-align: center;
			}

			.member {
				text-align: center;

				span {
					font-weight: bold;
				}
			}
		}
}

/* Circle */
@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 100px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E1E6E8;
  position: relative;
	float: left;
	margin: 0px 16px 0px 0px;

  &.gt-50 {
    background-color: $green;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: $green;
    transform: rotate(0deg);
		transition: all 1000ms ease;
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    @include font-size(20);
    font-weight: bold;
    color: $green;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
